.history {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 12.5rem;
  height: 17.25rem;
  margin: 2rem 4rem;
  @media screen and (max-width: 768px) {
    margin: 1rem 4rem;
  }

  &--description {
    font-family: 'Yekan Bakh FaNum';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
    color: map-get($colors, black);
  }
}
