.contract {
  &__card {
    width: 100%;
    margin-block-start: 1.5rem;
  }

  &__arrow {
    border-radius: 0.5rem !important;
    color: map-get($colors, primary) !important;

    &--open {
      &,
      &:hover {
        background-color: map-get($colors, primary-200) !important;
      }
    }
  }

  &__count {
    gap: 1rem;
    margin-block-end: 2rem;

    > span {
      font-weight: map-get($font-weights, 400);
      color: map-get($colors, text-color-600);
    }

    > div {
      font-weight: map-get($font-weights, 400);
      color: map-get($colors, text-color-800);
    }
  }

  &__headerCell {
    &,
    div {
      font-size: map-get($font-sizes, 3) !important;
      font-weight: map-get($font-weights, 700) !important;
      color: map-get($colors, text-color-800) !important;
    }

    &--active {
      svg {
        path {
          fill: map-get($colors, primary-400) !important;
        }
      }
    }

    svg {
      border-radius: 50%;

      path {
        fill: map-get($colors, black);
      }
    }

    span {
      font-size: map-get($font-sizes, 2) !important;
      font-weight: map-get($font-weights, 400) !important;
      color: black;
    }

    button {
      background-color: unset;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.5rem;
      border-radius: 0;
    }
  }

  &__row {
    &--open {
      transition-duration: 328ms;
      background-color: #f7f7ff;
    }

    &--key {
      text-align: right;
      padding: 0.5rem;

      span {
        font-weight: map-get($font-weights, 700);
        color: map-get($colors, text-color-600);
      }
    }

    &--value {
      text-align: right;
      padding: 0.5rem;

      span {
        font-weight: map-get($font-weights, 400);
        font-size: map-get($font-sizes, 3);
        color: map-get($colors, text-color-800);
      }
    }
  }

  &__table {
    box-shadow: unset !important;
  }

  &__countTable {
    padding: 2rem 40px;
    border-bottom: 1px solid rgba(224, 224, 224, 1);

    span {
      font-weight: map-get($font-weights, 700);
      color: map-get($colors, text-color-800);
    }
  }

  &--checkboxCell {
    max-width: 60px;
    min-width: 60px;
    border-block-end: unset !important;
  }

  &--pagination {
    margin-block-start: 1.5rem;
  }

  &--title {
    font-weight: map-get($font-weights, 400);
    font-size: map-get($font-sizes, 3);
    color: map-get($colors, text-color-800);
    margin-block-end: 2rem;

    &::before {
      content: '* ';
      color: map-get($colors, coral);
    }
  }

  &--skeleton {
    margin-block-start: 1.5rem;
  }

  &--titleCell {
    border-block-end: unset !important;
    max-width: 350px;
    min-width: 350px;
    line-height: 190% !important;
  }

  &--organizationCell {
    border-block-end: unset !important;
    max-width: 250px;
    min-width: 250px;
  }

  &--dateCell {
    border-block-end: unset !important;
    max-width: 150px;
    min-width: 150px;
  }

  &--priceCell {
    border-block-end: unset !important;
    max-width: 170px;
    min-width: 170px;
  }

  &--arrowCell {
    border-block-end: unset !important;
  }

  &--notFound {
    margin-block-start: 1.5rem;
  }
}
