.parent {
  width: 100%;
  margin-block-end: 1.5rem;

  &--notFound {
    width: 100%;
    margin-block-end: 1.5rem;
  }

  &--skeleton {
    margin-block-end: 1.5rem;
  }

  &--row {
    position: relative;
  }

  &--limit {
    margin: 0 -1.5rem !important;
  }
}

.table {
  box-shadow: unset !important;
  position: relative;

  table {
    min-width: 900px;
  }

  &__headerCell {
    &,
    div {
      font-size: map-get($font-sizes, 3) !important;
      font-weight: map-get($font-weights, 700) !important;
      color: map-get($colors, text-color-800) !important;
    }

    &--active {
      svg {
        path {
          fill: map-get($colors, primary-400) !important;
        }
      }
    }

    svg {
      path {
        fill: map-get($colors, black);
      }
    }

    button {
      background-color: unset;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.5rem;
      border-radius: 0;
    }

    &--title {
      min-width: 280px;
    }

    &--type {
      min-width: 100px;
      text-align: start;
    }

    &--date {
      min-width: 200px;
      text-align: right;
    }

    &--companyDelegate {
      min-width: 170px;
    }
    &--news {
      min-width: 140px;
      text-align: start;
    }
  }

  &__row {
    &--open {
      transition-duration: 328ms;
      background-color: #f7f7ff;
    }
  }

  &__tag {
    height: 26px;
    padding: 4px 4px;
    border-radius: 0.5rem;
    color: map-get($colors, text-color-400);
    display: inline-block;
    margin: 0.25rem;
    font-weight: map-get($font-weights, 700);
    border-width: 1px !important;
    font-size: map-get($font-sizes, 2);
  }

  &__arrow {
    border-radius: 0.5rem !important;
    color: map-get($colors, primary) !important;

    &--open {
      background-color: map-get($colors, primary-200) !important;
    }
  }

  &__cell {
    padding: 0 !important;
  }

  &--pagination {
    margin-block-start: 0.5rem;

    > div {
      > p:first-of-type {
        display: none !important;
      }
    }
  }

  &--cell {
    border-block-end: unset !important;
  }

  &--scroll {
    overflow-x: hidden !important;
    min-height: 300px;
  }

  [data-selector='person-image'] {
    background-color: unset !important;
    padding: 0;
    border-radius: 0;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.06);

    img {
      width: 3rem;
      height: 3rem;
    }
  }

  [data-selector='person-title'] {
    background-color: unset;
    border-radius: 0;
    border-bottom: 2px solid transparent;
    padding: 0;
    text-align: start;

    &:hover {
      border-bottom: 2px solid map-get($colors, primary-900);
    }

    span {
      font-weight: map-get($font-weights, 600);
      font-size: map-get($font-sizes, 3);
      color: map-get($colors, primary-900);
    }
  }

  [data-selector='delegation'] {
    font-weight: map-get($font-sizes, 400);
    font-size: map-get($font-sizes, 2);
    color: map-get($colors, text-color-100);
    margin-inline-end: 0.25rem;
  }

  [data-selector='company-title'] {
    background-color: unset;
    border-radius: 0;
    border-bottom: 1px solid transparent;
    padding: 0;
    text-align: start;

    &:hover {
      border-bottom: 1px solid map-get($colors, primary-900);
    }

    span {
      font-weight: map-get($font-weights, 600);
      font-size: map-get($font-sizes, 3);
      color: map-get($colors, primary-900);
    }
  }

  [data-selector='date-cell'] {
    border-block-end: unset !important;

    > div {
      gap: 0.5rem;
    }
  }

  [data-selector='preposition'] {
    font-weight: map-get($font-weights, 400);
    font-size: map-get($font-sizes, 3);
    color: map-get($colors, text-color-200);
  }

  [data-selector='date'] {
    font-weight: map-get($font-weights, 400);
    font-size: map-get($font-sizes, 3);
    color: map-get($colors, text-color-800);
  }

  [data-selector='news'] {
    width: 34px;
    height: 34px;
    background-color: unset;
    color: map-get($colors, primary);
    padding: 0;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    svg {
      width: 1.125rem;
      height: 1.125rem;
    }
  }
}

.subManagers {
  width: 100%;
  border-spacing: 0;

  td {
    padding: 16px;
  }

  &--title {
    min-width: 280px;
  }

  &--type {
    min-width: 100px;
    text-align: start;

    span {
      font-weight: map-get($font-weights, 400);
      font-size: map-get($font-sizes, 2);
      color: map-get($colors, text-color-600);
    }
  }
  &--date {
    min-width: 200px;
    max-width: 200px;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    > * {
      margin-inline-end: 0.5rem;
    }
  }
  &--delegate {
    min-width: 170px;
    background-color: unset;
    border-radius: 0;
    border-bottom: 1px solid transparent;
    padding: 1rem;
    text-align: start;

    span {
      font-weight: map-get($font-weights, 600);
      font-size: map-get($font-sizes, 3);
      color: map-get($colors, primary-900);
      transition: 0.3s all;

      &:hover {
        border-bottom: 1px solid map-get($colors, primary-900);
      }
    }
  }

  &--news {
    min-width: 140px;
    text-align: center;
  }
}

@include media-breakpoint-down(sm) {
  .table {
    width: auto !important;
    margin-inline-end: -1.5rem;
  }
}
