.topBoxContainer {
  margin-bottom: 1.5rem;

  [data-selector='topBoxContainer-btn'] {
    background-color: unset;
  }

  &__header {
    margin-bottom: 0.78rem;
    svg {
      margin: 0.5rem;
    }

    h2 {
      color: map-get($colors, primary);
    }
    p {
      color: map-get($colors, text-2);
      font-size: map-get($font-sizes, 2);
      margin: 0 1rem;
    }
    span {
      font-size: map-get($font-sizes, 3);
      color: map-get($colors, text-2);
    }

    [data-selector='number'] {
      margin-inline-end: 0.25rem;
    }
  }

  &__body {
    background-color: map-get($colors, white);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
    border-radius: 8px;

    &--box {
      overflow: hidden;
      padding-block-start: 0.5rem;
    }

    &--notFound {
      text-align: center;
      padding: 1rem;
      color: map-get($colors, primary);
      font-size: map-get($font-sizes, 3);
    }

    &--items {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0.5rem 1rem;
      border-bottom: 1px solid rgba(21, 22, 23, 0.05);

      [data-selector='title'] {
        display: flex;
        align-items: center;
        color: map-get($colors, primary);

        p {
          font-size: 0.875rem;
        }

        [data-selector='company'] {
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: (0px 1px 2px rgba(0, 0, 0, 0.4));
          margin-inline-end: 0.5rem;
          width: 1.75rem;
          height: 1.75rem;
        }

        > span {
          font-size: map-get($font-sizes, 3);
          color: map-get($colors, primary);
          max-width: 90%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          > div {
            font-size: map-get($font-sizes, 3);
          }
        }
      }

      [data-selector='entity'] {
        font-size: map-get($font-sizes, 3);
        color: map-get($colors, text-2);
        span {
          font-size: map-get($font-sizes, 3);
          color: map-get($colors, text-1);
        }
        [data-selector='companyBadge'] {
          color: #fff !important;
          background-color: map-get($colors, orange);
          padding: 0.1rem 0.3rem;
          border-radius: 8px;
        }
        [data-selector='personBadge'] {
          color: #fff !important;
          background-color: map-get($colors, warning);
          padding: 0.1rem 0.4rem;
          border-radius: 8px;
        }
      }
      [data-selector='owner'] {
        font-size: map-get($font-sizes, 3);
        color: map-get($colors, text-2);
        span {
          font-size: map-get($font-sizes, 3);
          color: map-get($colors, text-2);
        }
        a span {
          font-size: map-get($font-sizes, 3);
          color: map-get($colors, primary);
        }
        button span {
          font-size: map-get($font-sizes, 3);
          color: map-get($colors, primary);
        }
      }
      [data-selector='unlinked'] {
        font-size: map-get($font-sizes, 3);
        color: map-get($colors, text-2);

        button {
          cursor: auto;
        }

        span {
          font-size: map-get($font-sizes, 3);
          color: map-get($colors, text-color-800);
        }
        p {
          font-size: map-get($font-sizes, 3);
          color: map-get($colors, text-color-800);
        }
      }
    }
    &--company {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem 1rem;
      border-bottom: 1px solid rgba(21, 22, 23, 0.05);

      [data-selector='title'] {
        display: flex;
        align-items: center;
        color: map-get($colors, primary);

        p {
          font-size: 0.875rem;
        }

        [data-selector='company'],
        [data-selector='person'] {
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: (0px 1px 2px rgba(0, 0, 0, 0.4));
          margin-inline-end: 0.5rem;
          width: 1.75rem;
          height: 1.75rem;
        }
        [data-selector='person'] {
          border-radius: 50%;
        }
        > span {
          font-size: map-get($font-sizes, 3);
          color: map-get($colors, primary);
          max-width: 90%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          > div {
            font-size: map-get($font-sizes, 3);
          }
        }
      }

      [data-selector='entity'] {
        font-size: map-get($font-sizes, 3);
        color: map-get($colors, text-2);

        span {
          font-size: map-get($font-sizes, 3);
          color: map-get($colors, text-1);
        }
      }
      [data-selector='owner'] {
        font-size: map-get($font-sizes, 3);
        color: map-get($colors, text-2);

        span {
          font-size: map-get($font-sizes, 3);
          color: map-get($colors, text-2);
        }
      }
      [data-selector='graph-btn-wrraper'] {
        text-align: end;
      }
      [data-selector='graph-btn'] {
        svg {
          margin-inline-end: 0.5rem;
        }
      }
      [data-selector='graph-lock-btn'] {
        img {
          padding: 0.25rem;
          background: linear-gradient(315deg, #e13019 14.64%, #ec8078 85.36%);
          box-shadow: 0px 0px 6px rgba(232, 66, 44, 0.8);
          margin-inline-end: 0.5rem;
          border-radius: 50%;
        }
      }
    }
    &--button {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      padding-bottom: 1rem;

      span {
        font-size: map-get($font-sizes, 3);
        font-weight: map-get($font-weights, '600');
        color: map-get($colors, blue-button);
      }
      svg {
        color: map-get($colors, blue-button);
        margin-inline-start: 0.5rem;
        font-size: map-get($font-sizes, 4);
      }
    }
  }
}
.progress {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 1rem;

    span {
      width: 1.2rem !important;
      height: 1.2rem !important;
      margin-inline-end: 0.5rem;
    }
  }
}

/* ------------------------------------ MOBILE RESPONSIVE --------------------------------------- */

@include media-breakpoint-down(lg) {
  .topBoxContainer {
    &__body {
      &--company {
        [data-selector='graph-btn'],
        [data-selector='graph-lock-btn'] {
          font-size: 0.87rem;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .topBoxContainer {
    &__body {
      &--company,
      &--items {
        flex-direction: column;
        align-items: flex-start;

        [data-selector='title'] {
          margin-block-end: 0.5rem;
        }
        [data-selector='entity'] {
          margin-inline-start: 2rem;
          margin-block-end: 0.5rem;
        }
        [data-selector='owner'] {
          margin-inline-start: 2rem;
          margin-block-end: 0.2rem;
        }
        [data-selector='graph-btn'],
        [data-selector='graph-lock-btn'] {
          margin-block-start: 0.7rem;
        }
      }
    }
  }
}

@include media-breakpoint-only(sm) {
  .topBoxContainer {
    &__body {
      &--box {
        height: auto;
        overflow: hidden;
      }
    }
  }
}
