.header {
  padding: 0;
  background-color: map-get($colors, white);
  border-radius: 24px;
  margin: 2rem 0 1.5rem;

  [data-selector='title-box'] {
    display: flex;
    align-items: center;
    padding-block-start: 1.5rem;
    padding-inline: 1.5rem;
    [data-selector='logo'] {
      width: 90px;
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-inline-end: 1rem;
      border-radius: 200px;
      box-shadow: (0px 4px 10px rgba(0, 0, 0, 0.06));
      img {
        border-radius: 200px;
      }
    }

    [data-selector='title-info'] {
      display: flex;
      flex-direction: column;
      [data-selector='title'] {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 0;
        h2 {
          font-weight: map-get($font-weights, 700);
          font-size: map-get($font-sizes, 7);
          color: map-get($colors, text-color-800);
          display: flex;
          align-items: center;
        }

        [data-selector='verified-icon'] {
          margin: 0.5rem 0.5rem 0 0;
        }
        p {
          font-weight: map-get($font-weights, 700);
          font-size: map-get($font-sizes, 6);
          color: map-get($colors, text-color-400);
          margin: 0 0.5rem;
        }
      }
    }
  }
  [data-selector='authenticated-box'] {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-inline-end: 3.5rem;

    [data-selector='verify-info'] {
      display: flex;
      align-items: center;
      p {
        font-weight: map-get($font-weights, 400);
        font-size: map-get($font-sizes, 1);
        letter-spacing: 0.005em;
        color: map-get($colors, text-color-700);
      }
    }
  }
  [data-selector='buttons-box'] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 8rem 1.5rem 2.5rem;
    div {
      display: flex;
    }
    [data-selector='follow-btn'] {
      margin-inline-end: 1rem;
      padding: 0 2rem;
      svg {
        margin-inline-end: 0.5rem;
      }
    }
    [data-selector='follow-lock-btn'] {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-inline-end: 1rem;
      padding: 0 2rem;
      font-weight: map-get($font-weights, 600);
      color: map-get($colors, gray-400);
      img {
        padding: 0.25rem;
        background: linear-gradient(315deg, #e13019 14.64%, #ec8078 85.36%);
        box-shadow: 0px 0px 6px rgba(232, 66, 44, 0.8);
        margin-inline-end: 0.5rem;
        border-radius: 50%;
      }
    }
    [data-selector='following-btn'] {
      color: map-get($colors, primary) !important;
      margin-inline-end: 1rem;
      padding: 0 2rem;
      font-weight: map-get($font-weights, 600);
      line-height: 150%;
      svg {
        max-width: 24px;
        max-height: 24px;
        margin-inline-end: 0.5rem;
        background: map-get($colors, primary);
        border-radius: 50%;
        path {
          fill: #fff;
        }
      }
    }
    [data-selector='graph-btn'],
    [data-selector='graph-btn-subtab'] {
      padding: 0 2rem;
      margin-inline-end: 1.5rem;
      svg {
        margin-inline-end: 0.5rem;
      }
    }
    [data-selector='graph-lock-btn'],
    [data-selector='graph-lock-btn-subtab'] {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.75rem 1rem;
      margin-inline-end: 1.5rem;
      font-weight: map-get($font-weights, 600);
      color: map-get($colors, gray-400);
      img {
        padding: 0.25rem;
        background: linear-gradient(315deg, #e13019 14.64%, #ec8078 85.36%);
        box-shadow: 0px 0px 6px rgba(232, 66, 44, 0.8);
        margin-inline-end: 0.5rem;
        border-radius: 50%;
      }
    }
    [data-selector='manager-btn'] {
      border-radius: unset;
      margin-inline-end: 1rem;
      padding: 0.5rem 0.5rem 0;
    }
    [data-selector='more-btn'],
    [data-selector='more-btn-authed'] {
      min-width: 40px;
      min-height: 40px;
      background-color: #f7f7ff !important;
      border-radius: 12px;
    }
  }
  &--tooltip {
    max-width: 322px;
    white-space: break-spaces;
    line-height: 1.4rem;
  }
  [data-selector='tabs-box'] {
    background: #fafafa;
    border-radius: 0 0 24px 24px;
    padding-inline: 1.5rem;
  }
}

@include media-breakpoint-down(lg) {
  .header {
    position: relative;

    [data-selector='title-box'] {
      order: 1;
      display: flex;
      padding-block-start: 1.5rem;
    }
    [data-selector='authenticated-box'] {
      order: 0;
      padding-inline-end: 1.5rem;
      justify-content: flex-end;
    }
    [data-selector='buttons-box'] {
      order: 2;
      padding: 1rem 7.5rem 1rem 1.5rem;
      [data-selector='more-btn'] {
        position: absolute;
        top: 25%;
        left: 1.5rem;
      }
      [data-selector='more-btn-authed'] {
        position: absolute;
        top: 20%;
        left: 1.5rem;
      }
    }
    [data-selector='tabs-box'] {
      order: 3;
    }
  }
}

@include media-breakpoint-down(md) {
  .header {
    [data-selector='title-box'] {
      flex-direction: column;
      align-items: flex-start;
      [data-selector='title-info'] {
        display: flex;
        flex-direction: column;
        [data-selector='title'] {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          padding: 0 0 0.5rem;
          flex-direction: column;
        }
      }
    }
    [data-selector='buttons-box'] {
      padding: 1rem 1.5rem;
      [data-selector='follow-btn'],
      [data-selector='following-btn'],
      [data-selector='follow-lock-btn'] {
        margin-inline-end: 1rem;
        padding: 0 0.75rem;
      }
      [data-selector='graph-btn'],
      [data-selector='graph-btn-subtab'] {
        padding: 0 0.75rem;
      }
      [data-selector='more-btn'] {
        top: 20%;
        left: 1rem;
      }
      [data-selector='more-btn-authed'] {
        top: 15%;
        left: 1rem;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .header {
    border-radius: unset;
    [data-selector='title-box'] {
      flex-direction: column;
      padding: 1rem;
      [data-selector='title-info'] {
        [data-selector='title'] {
          p {
            margin: unset;
          }
        }
      }
    }

    [data-selector='buttons-box'] {
      flex-wrap: wrap;
      padding: 1rem;

      div:first-child {
        display: flex;
        padding-inline-end: 1rem;
        flex: 0 0 100%;
      }

      [data-selector='follow-btn'],
      [data-selector='following-btn'],
      [data-selector='follow-lock-btn'] {
        // margin-inline-end: 1rem;
        flex: 0 0 50%;
      }
      [data-selector='graph-lock-btn'],
      [data-selector='graph-btn'] {
        // position: absolute;
        // left: -5px;
        // bottom: 11.1rem;
        flex: 0 0 50%;

        padding-inline: 0.7rem;
        margin-inline-end: 1rem;
      }

      // [data-selector='graph-btn'] {
      //   position: absolute;
      //   left: -5px;
      //   bottom: 11rem;
      //   padding: 12px;
      // }
      // [data-selector='graph-btn-subtab'] {
      //   position: absolute;
      //   left: -5px;
      //   bottom: 7.6rem;
      //   padding: 12px;
      // }
      // [data-selector='graph-lock-btn'] {
      //   position: absolute;
      //   left: -5px;
      //   bottom: 11.1rem;
      //   padding-inline: 0.7rem;
      // }
      // [data-selector='graph-lock-btn-subtab'] {
      //   position: absolute;
      //   padding-inline: 0.7rem;
      //   left: -5px;
      //   bottom: 7.7rem;
      // }
      [data-selector='more-btn'] {
        top: 23%;
        left: 1.2rem;
      }
      [data-selector='more-btn-authed'] {
        top: 11%;
        left: 1.2rem;
      }
      [data-selector='manager-btn'] {
        margin-block-start: 1rem;
      }
    }
    [data-selector='tabs-box'] {
      padding-inline: 1rem;
    }
  }
}

@include media-breakpoint-down(xs) {
  .header {
    [data-selector='buttons-box'] {
      [data-selector='follow-btn'],
      [data-selector='following-btn'],
      [data-selector='follow-lock-btn'] {
        // margin-inline-end: 1rem;
        flex: 0 0 50%;
      }
      [data-selector='graph-lock-btn'],
      [data-selector='graph-btn'] {
        // position: absolute;
        // left: -5px;
        // bottom: 11.1rem;
        flex: 0 0 50%;

        padding-inline: 0.7rem;
      }
    }
  }
}
