$tooltip-text-color: white;
$tooltip-background-color: black;
$tooltip-margin: 30px;
$tooltip-arrow-size: 6px;

.tooltip {
  display: inline-block;
  position: relative;

  &__content {
    position: absolute;
    border-radius: 4px;
    inset-inline-end: 50%;
    transform: translateX(-50%);
    padding: 0.75rem;
    color: $tooltip-text-color;
    background: $tooltip-background-color;
    font-size: map-get($font-sizes, 3);
    font-family: sans-serif;
    line-height: 1;
    z-index: 10000;
    white-space: nowrap;
    opacity: 1;
    transition: all 0.2s;

    &::before {
      content: ' ';
      inset-inline-end: 50%;
      border: solid transparent;
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-width: 6px;
      margin-inline-end: calc($tooltip-arrow-size * -1);
      z-index: 100;
    }

    &--bottom {
      inset-block-end: calc($tooltip-margin * -1);

      &::before {
        inset-block-end: 100%;
        border-bottom-color: $tooltip-background-color;
      }
    }

    &--top {
      inset-block-start: calc($tooltip-margin * -1);

      &::before {
        inset-block-start: 100%;
        border-top-color: $tooltip-background-color;
      }
    }

    &--right {
      inset-inline-end: calc(100% + $tooltip-margin);
      inset-block-start: 50%;
      transform: translateX(0) translateY(-50%);

      &::before {
        inset-inline-end: calc($tooltip-arrow-size * -1);
        inset-block-start: 50%;
        transform: translateX(0) translateY(-50%);
        border-inline-start-color: $tooltip-background-color;
      }
    }

    &--left {
      inset-inline-end: auto;
      inset-inline-start: calc(100% + $tooltip-margin);
      inset-block-start: 50%;
      transform: translateX(0) translateY(-50%);

      &::before {
        inset-inline-end: auto;
        inset-inline-start: calc($tooltip-arrow-size * -2);
        inset-block-start: 50%;
        transform: translateX(0) translateY(-50%);
        border-left-color: $tooltip-background-color;
      }
    }
  }
}
