.currency {
  &--card {
    margin-block-start: 1.5rem;
  }

  &--notFound {
    margin-block-start: 1.5rem;
  }

  &--skeleton {
    margin-block-start: 1.5rem;
  }

  &__count {
    gap: 1rem;
    margin-block-end: 2rem;

    > span {
      font-weight: map-get($font-weights, 400);
      font-size: map-get($font-sizes, 3);
      color: map-get($colors, text-color-600);
    }

    > div {
      font-weight: map-get($font-weights, 400);
      color: map-get($colors, text-color-800);
    }
  }
  &__totalcount {
    gap: 0.5rem;
    margin-block-end: 2rem;

    > span {
      font-weight: map-get($font-weights, 700);
      color: map-get($colors, text-color-600);
    }

    > div {
      font-weight: map-get($font-weights, 700);
      color: map-get($colors, text-color-800);
    }
  }
  &__title {
    margin-block-end: 2rem;

    > span {
      margin-block-start: 0.2rem;
      margin-inline-end: 0.5rem;
      color: map-get($colors, coral);
    }

    > p {
      font-weight: map-get($font-weights, 400);
      font-size: map-get($font-sizes, 3);
      color: map-get($colors, text-color-800);
    }
  }
  &__table {
    border: unset !important;
  }
  [data-selector='title'] {
    font-weight: map-get($font-weights, 400);
    color: map-get($colors, text-color-800);
    font-size: map-get($font-sizes, 3);
  }
  [data-field='market'] {
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
  }
  [data-selector='capital-header'] {
    font-weight: map-get($font-weights, 700);
    font-size: map-get($font-sizes, 3);
    margin-block-start: 0.3rem;
  }
  [data-selector='capital-subheader'] {
    font-weight: map-get($font-weights, 400);
    font-size: map-get($font-sizes, 2);
    margin-inline-start: 0.3rem;
  }
  [data-selector='currency-box'] {
    display: flex;
    align-items: center;
  }
  [data-selector='currency-icon'] {
    padding: 3px 4px 1px;
    background: map-get($colors, amethyst-100);
    border: 1px solid map-get($colors, amethyst-200);
    border-radius: 8px;
    font-weight: map-get($font-weights, 700);
    font-size: map-get($font-sizes, 1);
    line-height: 180%;
    color: map-get($colors, amethyst-900);
    margin-inline-start: 0.5rem;
  }
}

@include media-breakpoint-down(sm) {
  .currency {
    &__table {
      margin-inline-end: -1.5rem;
    }
  }
}
