.history {
  &--content {
    display: inline-block;
    font-weight: map-get($font-weights, 400);
    color: map-get($colors, text-color-600);
    margin-block: 2rem;

    p {
      font-weight: map-get($font-weights, 400);
      color: map-get($colors, text-color-600);
      line-height: 2.1rem;
    }
  }

  [data-selector='show-more'] {
    margin: 0 auto !important;
  }
}

@include media-breakpoint-down(sm) {
  .history {
    &--content,
    p {
      font-size: map-get($font-sizes, 3);
    }
  }
}
