.comment {
  margin-block-end: 3rem;

  &__new {
    margin-block-end: 1.5rem;

    &__form {
      form {
        button {
          padding-inline: 0.75rem;
        }

        textarea {
          height: 150px;
        }

        > div > div:last-of-type {
          text-align: end;
        }
      }
    }

    &__policy {
      [data-selector='title'] {
        font-weight: map-get($font-weights, 800);
      }

      [data-selector='subtitle'] {
        margin-block-start: 1rem;
        margin-block-end: 0.75rem;
        font-size: 0.875rem;
      }

      ul {
        padding-inline-start: 1.5rem;

        li {
          font-size: 0.875rem;
          list-style: disc;
          margin-block: 0.5rem;
          line-height: 1.75rem;
        }
      }
    }

    &--title {
      color: map-get($colors, text-color-800);
      font-weight: map-get($font-weights, 800);
      font-size: 1.25rem;
      margin-block-end: 2rem;
    }
  }

  &__view {
    padding-block-end: 1rem;
    border-block-end: 1px solid map-get($colors, gray-100);
    margin-block-end: 2rem;

    [data-selector='vote'] {
      margin-block-start: 1.5rem;
      display: flex;
      justify-content: flex-end;
      column-gap: 2rem;

      button {
        background-color: unset;
        display: flex;
        align-items: center;
        padding: 0;

        svg {
          width: 24px;
          aspect-ratio: 1/1;
        }
      }
    }

    [data-selector='user-image'] {
      width: 64px;
      aspect-ratio: 1/1;
      border-radius: 50%;
      border: 2px solid purple;
    }
    [data-selector='info'] {
      > div {
        &:first-of-type {
          color: map-get($colors, text-color-800);
          margin-block-end: 0.5rem;
        }
        &:last-of-type {
          font-size: 0.75rem;
          color: map-get($colors, text-color-400);
        }
      }
    }
    [data-selector='comment'] {
      line-height: 190%;
      color: map-get($colors, text-color-600);
      margin-inline-start: 5rem;
    }

    &:last-of-type {
      border-block-end: unset;
      margin-block-end: 0;
    }

    > div:first-of-type {
      margin-block-end: 1rem;
    }
  }

  &__pagination {
    &--active {
      border-block-end: 2px solid map-get($colors, primary);
      transition: border-block-end 0.2s;
    }

    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    button {
      background-color: unset;
      color: map-get($colors, text-color-800);
    }

    [data-selector='pages'] {
      display: flex;
      column-gap: 0.25rem;

      button {
        padding: 0.5rem 1rem;
        border-radius: 0;
        transition: border-block-end 0.2s;
      }
    }

    [data-selector='back'],
    [data-selector='next'] {
      height: 2.25rem;
      aspect-ratio: 1/1;
      border-radius: 0.5rem;
      padding: 0;
      display: flex;
      align-items: center;
      transition: all 0.2s;

      &:disabled {
        background: map-get($colors, gray-200);
        transition: all 0.2s;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .comment {
    &__new {
      &__policy {
        display: flex;
        flex-direction: column;
        order: 1;
        margin-block-end: 1rem;
      }

      &__form {
        display: flex;
        order: 2;
      }
    }

    &__view {
      [data-selector='comment'] {
        margin-inline-start: 0;
      }
    }
  }
}
