@mixin common-title-styles($font-size) {
  color: map-get($colors, text-color-800);
  font-size: map-get($font-sizes, $font-size);
  font-weight: map-get($font-weights, 800);
}

@mixin common-section-styles() {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  margin-block: 0.5rem;
  color: map-get($colors, text-color-600);
  font-weight: map-get($font-weights, 400);
}

@mixin common-space-arrows($space) {
  margin-block-end: $space;

  .description--arrow {
    inset-block-end: -$space;
  }
}

@mixin common-responsive-styles(
  $answerSize: 5,
  $titleSize: 4,
  $subtitleSize: 3
) {
  [data-selector='answer-title'] {
    svg {
      flex: 0 0 24px;
      margin-top: 0.5rem;
    }

    span {
      @include common-title-styles($answerSize);
    }
  }

  [data-selector='item-title'],
  [data-selector='question-title'] {
    @include common-title-styles($titleSize);
  }

  [data-selector='item'] span,
  [data-selector='question'] span,
  [data-selector='answer'],
  [data-selector='answer'] div {
    font-size: map-get($font-sizes, $subtitleSize);
  }
}

.description {
  min-height: 725px;
  padding: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    margin-block: 5rem 3rem;
    background-image: url('/svg/staticPage/purple-circle-description.svg'),
      url('/svg/staticPage/red-circle-description.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: top right, center left;
    background-size: auto, 725px;
  }

  &__wrapper {
    padding: 4rem 5rem;
    box-shadow: 0px 80px 80px -40px rgba(13, 114, 255, 0.2),
      inset 8px 8px 20px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(50px);
    width: 100%;
    position: relative;

    &__companies {
      [data-selector='companies'] {
        margin-block-start: 4rem;
      }
    }

    [data-selector='video'] {
      text-align: center;

      img {
        width: 100%;
        position: sticky;
        top: 85px;
      }
    }
  }

  &__list {
    position: relative;

    &--advanced-search {
      @include common-space-arrows(3.75rem);
    }

    &--industry {
      @include common-space-arrows(3.5rem);
    }
  }

  &__question {
    position: relative;
    margin-block-end: 3rem;

    &--graph {
      @include common-space-arrows(4.5rem);
    }
  }

  &--title {
    @include common-title-styles(7);
  }

  &--arrow {
    position: absolute;
    inset-inline-start: -1rem;
    inset-block-end: -3rem;
    height: 45px;

    &--curve {
      text-align: center;
      margin-block: 2rem;
    }

    &--industry,
    &--companies {
      margin-block: 0;
    }
  }

  [data-selector='content'] {
    section:nth-child(2) {
      > div:first-child {
        margin-block-start: 3rem;
      }
    }

    [data-selector='item-title'],
    [data-selector='question-title'] {
      @include common-title-styles(5);
      margin-bottom: 0.5rem;
    }

    [data-selector='item'],
    [data-selector='question'] {
      @include common-section-styles();
    }

    [data-selector='answer-title'] {
      display: flex;
      align-items: flex-start;
      gap: 0.5rem;
      margin-bottom: 0.75rem;

      svg {
        flex: 0 0 24px;
        margin-top: 0.5rem;
      }

      span {
        @include common-title-styles(6);
      }
    }

    [data-selector='answer'] {
      color: map-get($colors, text-color-600);
      font-weight: map-get($font-weights, 400);

      [data-selector='answer-2nd'] {
        margin-top: 1rem;
      }
    }

    [data-selector='advanced-search'] {
      margin-block-start: 4rem;
    }
  }
}

@include media-breakpoint-between(xl, xxl) {
  .description {
    &__container {
      background-position: 105% 1%, -70%;
    }

    &__wrapper {
      padding: 3rem 4rem;
    }
  }
}

@include media-breakpoint-only(xl) {
  .description {
    &__container {
      background-size: 300px, 640px;
      background-position: 105% 1%, -70%;
      min-height: 640px;
    }

    &__wrapper {
      padding: 3rem;
    }

    &__question {
      &--graph {
        @include common-space-arrows(3rem);
      }
    }

    &--title {
      font-size: map-get($font-sizes, 6);
    }

    [data-selector='content'] {
      [data-selector='answer-title'] {
        svg {
          flex: 0 0 24px;
          margin-top: 0.5rem;
        }

        span {
          @include common-title-styles(5);
        }
      }

      [data-selector='item-title'],
      [data-selector='question-title'] {
        @include common-title-styles(4);
      }

      [data-selector='item'] span,
      [data-selector='question'] span,
      [data-selector='answer'],
      [data-selector='answer'] div {
        font-size: map-get($font-sizes, 3);
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .description {
    &__wrapper {
      justify-content: center;
      padding: 2rem 0;
      max-height: unset;
      row-gap: 2rem;

      [data-selector='content'] {
        padding: 0 2rem;
      }
      &__companies,
      &__industry {
        [data-selector='content'] {
          padding: 0 2rem;
        }
      }

      [data-selector='video'] {
        img {
          position: static;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .description {
    &--arrow {
      height: 30px;
      &--curve {
        margin-block: 1rem;
      }
    }
  }
}

@include media-breakpoint-only(lg) {
  .description {
    &__container {
      background-size: auto, 650px;
      background-position: 105% 1%, -70% 90%;
      min-height: 650px;
    }

    &__wrapper {
      [data-selector='content'] {
        @include common-responsive-styles();
      }
    }

    &--title {
      @include common-title-styles(6);
    }
  }
}

@include media-breakpoint-only(md) {
  .description {
    &__wrapper {
      [data-selector='content'] {
        @include common-responsive-styles(4, 3, 3);

        [data-selector='advanced-search'] {
          margin: 1rem 0 0;
        }
      }

      [data-selector='companies'] {
        margin-top: 2rem;
      }
    }

    &__list {
      @include common-space-arrows(1.75rem);
    }

    &__question {
      &--graph {
        @include common-space-arrows(2.5rem);
      }

      &--persons {
        @include common-space-arrows(1.75rem);
      }
    }

    &--title {
      @include common-title-styles(5);
    }
  }
}

@include media-breakpoint-only(sm) {
  .description {
    background-size: 300px, 400px;
    background-position: 160% 7%, 50% 90%;
    min-height: 400px;

    &__wrapper {
      [data-selector='content'] {
        @include common-responsive-styles(3, 3, 3);

        [data-selector='advanced-search'] {
          margin-block-start: 1rem;
        }

        [data-selector='companies'] {
          margin-block-start: 2rem;
        }

        section:nth-child(2) {
          > div:first-child {
            margin-block-start: 2rem;
          }
        }
      }
    }

    &__list {
      @include common-space-arrows(1.75rem);
    }
    &__question {
      &--graph {
        @include common-space-arrows(2.5rem);
      }

      &--persons {
        @include common-space-arrows(1.75rem);
      }
    }

    &--title {
      @include common-title-styles(5);
      text-align: center;
    }
  }
}
