.unAuthHeader {
  padding: 0;
  background-color: map-get($colors, white);
  border-radius: 24px;
  margin: 2rem 0 1.5rem;

  [data-selector='title-box'] {
    display: flex;
    padding-block-start: 1.5rem;
    padding-inline: 1.5rem;
    [data-selector='logo'] {
      width: 90px;
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-inline-end: 1.5rem;
      box-shadow: (0px 4px 10px rgba(0, 0, 0, 0.06));
    }

    [data-selector='title-info'] {
      display: flex;
      flex-direction: column;
      [data-selector='registration'] {
        display: flex;
        cursor: pointer;
        align-items: center;
        gap: 0.5rem;
        span {
          font-weight: map-get($font-weights, 400);
          font-size: map-get($font-sizes, 4);
          line-height: 150%;
          color: map-get($colors, text-color-400);
        }
        [data-selector='registration-info'] {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.3rem 0.3rem 0.3rem 0.5rem;
          gap: 4px;
          background: map-get($colors, secondary-200);
          border-radius: 24px;
          p {
            font-weight: map-get($font-weights, 700);
            font-size: map-get($font-sizes, 2);
            line-height: 180%;
            color: map-get($colors, secondary);
          }
        }
      }
      h2 {
        font-weight: map-get($font-weights, 700);
        font-size: map-get($font-sizes, 7);
        color: map-get($colors, text-color-800);
      }
    }
  }

  [data-selector='buttons-box'] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 8rem 1.5rem 2.5rem;
    div {
      display: flex;
      align-items: flex-start;
    }
    [data-selector='follow-btn'] {
      margin-inline-end: 1rem;
      padding: 0 2rem;
      svg {
        margin-inline-end: 0.5rem;
      }
    }
    [data-selector='following-btn'] {
      color: map-get($colors, primary) !important;
      margin-inline-end: 1rem;
      padding: 0 2rem;
      font-weight: map-get($font-weights, 600);
      line-height: 150%;
      svg {
        max-width: 24px;
        max-height: 24px;
        margin-inline-end: 0.5rem;
        background: map-get($colors, primary);
        border-radius: 50%;
        path {
          fill: #fff;
        }
      }
    }
    [data-selector='graph-btn'] {
      padding: 0 0.5rem;
      margin-inline-end: 1.5rem;
      svg {
        margin-inline-end: 0.5rem;
      }
    }
    [data-selector='lock-btn'] {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.75rem 1rem;
      margin-inline-end: 1.5rem;
      font-weight: map-get($font-weights, 600);
      color: map-get($colors, gray-400);
      img {
        padding: 0.25rem;
        background: linear-gradient(315deg, #e13019 14.64%, #ec8078 85.36%);
        box-shadow: 0px 0px 6px rgba(232, 66, 44, 0.8);
        margin-inline-end: 0.5rem;
        border-radius: 50%;
      }
    }
    [data-selector='manager-btn'] {
      border-radius: unset;
      margin-inline-end: 1rem;
      padding: 0.5rem 0.5rem 0;
    }

    [data-selector='more-btn'] {
      min-width: 40px;
      min-height: 40px;
      background-color: #f7f7ff !important;
      border-radius: 12px;
    }
  }
  [data-selector='tabs-box'] {
    background: #fafafa;
    border-radius: 0 0 24px 24px;
    padding-inline: 1.5rem;
  }
}

@include media-breakpoint-down(lg) {
  .unAuthHeader {
    position: relative;

    [data-selector='title-box'] {
      display: flex;
      padding-block-start: 1.5rem;
    }

    [data-selector='buttons-box'] {
      padding: 1rem 7.5rem 1rem 1.5rem;
      [data-selector='more-btn'] {
        position: absolute;
        top: 10%;
        left: 2rem;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .unAuthHeader {
    [data-selector='title-box'] {
      flex-direction: column;
      [data-selector='title-info'] {
        h2 {
          font-size: map-get($font-sizes, 6);
        }
        [data-selector='registration'] {
          margin-block-start: 1rem;
          margin-block-end: 0.5rem;
        }
      }
    }
    [data-selector='buttons-box'] {
      padding: 1rem 1.5rem;
      gap: 1rem;
      flex-wrap: wrap;
      div {
        flex: 0 0 100%;
      }
      [data-selector='follow-btn'],
      [data-selector='following-btn'],
      [data-selector='graph-btn'],
      [data-selector='lock-btn'] {
        margin-inline-end: 1rem;
        flex: 0 0 50%;
        padding: 0 0.75rem;
      }
      [data-selector='more-btn'] {
        left: 1rem;
        top: 7%;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .unAuthHeader {
    border-radius: unset;
    [data-selector='title-box'] {
      flex-direction: column;
    }

    [data-selector='buttons-box'] {
      padding: 1rem 1.5rem;

      [data-selector='follow-btn'],
      [data-selector='following-btn'] {
        margin-inline-end: 1rem;
        padding: 0 1.5rem;
      }
      [data-selector='manager-btn'] {
        margin-block-start: 1rem;
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .unAuthHeader {
    [data-selector='buttons-box'] {
      [data-selector='follow-btn'],
      [data-selector='following-btn'],
      [data-selector='graph-btn'],
      [data-selector='lock-btn'] {
        padding-inline-start: 0.1rem;
      }
    }
  }
}
