.feature {
  text-align: center;
  padding: 4rem 0;

  &__container {
    background-color: map-get($colors, white);
  }

  &__card {
    padding-inline: 0.5rem;

    &--title {
      font-weight: map-get($font-weights, 700);
      color: #40454b;
      margin-top: 0.75rem;
    }

    &--description {
      font-size: map-get($font-sizes, 3);
      color: #40454b;
    }

    &--wrapper {
      margin-inline: -0.5rem;
      row-gap: 1rem;
    }

    > div {
      background: #f4f4f4;
      border-radius: 0.75rem;
      gap: 0.75rem;
      padding: 1rem;
      cursor: pointer;
      height: 100%;
    }
  }

  &--title {
    font-weight: map-get($font-weights, 800);
    font-size: map-get($font-sizes, 6);
    color: map-get($colors, gray);
  }

  [data-selector='wrapper'] {
    background-color: unset;
    display: flex;
    flex-direction: column;
  }
}

@include media-breakpoint-up(xxl) {
  .feature {
    &__card {
      flex: 0 0 20%;
      max-width: 20%;
      padding-inline: 1rem;

      &--wrapper {
        margin-inline: -1rem;
      }
    }
  }
}
