.badge {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  line-height: 1;

  &__count {
    overflow: hidden;
    position: absolute;
    transform-origin: 100% 0%;

    z-index: auto00;
    min-width: 20px;
    padding: 3px 6px;
    color: map-get($colors, white);
    font-size: map-get($font-sizes, 3);
    white-space: nowrap;
    text-align: center;
    background: #ff4d4f;
    border-radius: 10px;
    box-shadow: 0 0 0 1px #fff;

    &--topRight {
      inset-block-start: 0;
      inset-inline-start: 0;
      transform: translate(50%, -50%);
    }

    &--topLeft {
      inset-block-start: 0;
      inset-inline-end: 0;
      transform: translate(-50%, -50%);
    }

    &--bottomRight {
      inset-block-end: 0;
      inset-inline-start: 0;
      transform: translate(50%, 50%);
    }

    &--bottomLeft {
      inset-block-end: 0;
      transform: translate(50%, 50%);
    }
  }

  &--dot {
    position: relative;
    inset-block-start: -1px;
    display: inline-block;
    width: 6px;
    height: 6px;
    vertical-align: middle;
    border-radius: 50%;

    &--ripple {
      &::after {
        position: absolute;
        inset-block-start: -1px;
        inset-inline-end: -1px;
        width: 100%;
        height: 100%;
        border: 1px solid;
        border-radius: 50%;
        animation: rippleEffect 1.2s infinite ease-in-out;
        content: '';
      }
    }
  }

  &--text {
    margin-inline-start: 0.5rem;
  }
}

.ribbon {
  font-size: map-get($font-sizes, 3);
  position: absolute;
  inset-block-start: 8px;
  padding: 0 0.5rem;
  white-space: nowrap;
  border-radius: 2px;

  &__placement {
    &--end {
      inset-inline-start: -8px;
      border-bottom-right-radius: 0;

      .ribbon--corner {
        inset-inline-start: 0;
        border-color: currentcolor transparent transparent currentcolor;
      }
    }

    &--start {
      inset-inline-end: -8px;
      border-bottom-left-radius: 0;
      .ribbon--corner {
        inset-inline-end: 0;
        border-color: currentcolor currentcolor transparent transparent;
      }
    }
  }

  &--wrapper {
    position: relative;
  }

  &--corner {
    position: absolute;
    inset-block-start: 100%;
    width: 8px;
    height: 8px;
    color: currentcolor;
    border: 4px solid;
    transform: scaleY(0.75);
    transform-origin: top;

    &::after {
      position: absolute;
      inset-block-start: -4px;
      inset-inline-end: -4px;
      color: rgba(0, 0, 0, 0.25);
      border: inherit;
      content: '';
    }
  }

  span {
    line-height: normal;
    color: map-get($colors, white);
  }
}

@keyframes rippleEffect {
  0% {
    transform: scale(0.8);
    opacity: 0.5;
  }

  100% {
    transform: scale(2.4);
    opacity: 0;
  }
}
