.header {
  padding: 3rem 1.5rem;
  row-gap: 4rem;
  margin-block-end: 3rem;

  [data-selector='header-title'] {
    font-size: map-get($font-sizes, 6);
    color: map-get($colors, text-color-400);
  }

  [data-selector='header-description'] {
    max-width: 536px;

    &,
    div {
      font-weight: map-get($font-weights, 800);
      font-size: 3.5rem;
    }

    div {
      color: map-get($colors, primary);
    }
  }

  [data-selector='header-try'] {
    padding: 0.7rem;
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-block-start: 2rem;

    span {
      font-weight: map-get($font-weights, 700);
      font-size: map-get($font-sizes, 3);
    }
  }

  [data-selector='header-video'] {
    aspect-ratio: 2/1;
    width: 100%;
  }
}

@include media-breakpoint-down(lg) {
  .header {
    padding: 3rem 1rem;

    [data-selector='header-title'] {
      font-size: map-get($font-sizes, 5);
    }

    [data-selector='header-svg'] {
      width: 2rem;
      height: 2rem;
    }

    [data-selector='header-description'] {
      font-size: map-get($font-sizes, 7);
    }
  }
}

@include media-breakpoint-up(xxl) {
  .header {
    padding: 3rem 0;

    [data-selector='header-video'] {
      aspect-ratio: unset;
      width: 100%;
      height: 100%;
      max-width: unset;
    }
  }
}
