.product--card {
  margin: 1rem 0 1.5rem;

  [data-selector='images-box'] {
    width: 100%;
    row-gap: 1rem;
    margin-block-start: 1rem;
    margin-block-end: 2rem;
  }

  [data-selector='card-company-image'] {
    width: 100%;
    aspect-ratio: 2/1.25;
  }
}

.product--notFound {
  margin-block-end: 1.5rem;
  width: 100%;
}

@include media-breakpoint-down(xxl) {
  .product {
    &--card {
      margin: 2rem 0 3rem;
    }
  }
}

@include media-breakpoint-down(md) {
  .product--card {
    [data-selector='images-box'] {
      flex-wrap: nowrap !important;
      scroll-snap-type: x mandatory;
      overflow-x: auto;
      margin-block: 1.5rem;

      &::-webkit-scrollbar {
        display: none;
      }

      > * {
        scroll-snap-align: start;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .product--card {
    [data-selector='images-box'] {
      margin-inline: -1rem !important;
      width: auto;
    }
  }
}
