.quotes {
  padding: 1rem 0 4rem;

  &__container {
    background-color: map-get($colors, white);
  }

  &__wrapper {
    scroll-snap-type: x mandatory;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      scroll-snap-align: start;
    }
  }

  &--title {
    font-weight: map-get($font-weights, 800);
    font-size: map-get($font-sizes, 7);
    color: map-get($colors, dark-blue);
    text-align: center;
  }
}

@include media-breakpoint-down(lg) {
  .quotes {
    &__wrapper {
      margin-inline-end: -1rem !important;

      > div:last-of-type {
        padding-inline-end: 1rem !important;
      }
    }
  }
}

@include media-breakpoint-only(lg) {
  .quotes {
    [data-selector='title'] {
      font-size: map-get($font-sizes, 4);
    }
  }
}

@include media-breakpoint-between(xxs, md) {
  .quotes {
    &--title {
      font-size: map-get($font-sizes, 5);
      text-align: start;
    }

    [data-selector='title'] {
      font-size: map-get($font-sizes, 4);
    }
  }
}
