.license {
  width: 100%;
  margin-block-end: 1.5rem;

  &__card {
    width: 100%;
  }

  &__col {
    display: flex;
    gap: 1rem;
  }

  &__row {
    row-gap: 1.5rem;
    margin-block-end: 2rem;
  }

  &__logo {
    width: 3.5rem;
    height: 3.5rem;

    img {
      width: inherit;
      height: inherit;
    }
  }

  &__details {
    row-gap: 0.5rem;

    span {
      font-weight: map-get($font-weights, 700);
      color: map-get($colors, text-color-800);
    }
    pre {
      font-weight: map-get($font-sizes, 400);
      font-size: map-get($font-sizes, 3);
      color: map-get($colors, text-color-600);
    }
  }

  &__count {
    gap: 1.125rem;
    margin-block-end: 2rem;

    > span {
      font-weight: map-get($font-weights, 400);
      font-size: map-get($font-sizes, 3);
      color: map-get($colors, text-color-600);
    }

    > div {
      font-weight: map-get($font-weights, 400);
      color: map-get($colors, text-color-800);
    }
  }

  &--title {
    font-weight: map-get($font-weights, 700);
    font-size: map-get($font-sizes, 7);
    color: map-get($colors, black);
    border-bottom: 0.25rem solid map-get($colors, text-color-800);
  }

  &--notFound {
    width: 100%;
    margin-block-end: 1.5rem;
  }

  &--skeleton {
    margin-block-end: 1.5rem;
  }
}
