@mixin common-graphBtn-styles() {
  button {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
}

.graph {
  width: 100%;

  &--image {
    position: relative;
    height: 350px;
    background-color: #f4f4f4;
    border-radius: 1.5rem;
    margin-block-end: 2rem;

    @include common-graphBtn-styles();

    img {
      width: 400px !important;
      height: 300px !important;
      min-width: unset !important;
      min-height: unset !important;
    }

    [data-selector='hidden'] {
      position: absolute;
      inset: 0;
      pointer-events: none;
      opacity: 0;
      border-radius: 1.5rem;
    }

    &:hover {
      [data-selector='hidden'] {
        pointer-events: auto;
        opacity: 1;
        background-color: #ffffffd1;
        transition: all 0.4s ease;
      }

      // span {
      //   filter: blur(3px);
      //   transition: filter 0.4s ease;
      // }
    }
  }

  &--text {
    color: map-get($colors, text-color-400);
    letter-spacing: -0.005rem;
  }

  &--btn {
    @include common-graphBtn-styles();
  }

  [data-selector='card-content'] {
    margin-block-start: 1rem;
  }
}

@include media-breakpoint-down(lg) {
  .graph {
    &--image button,
    &--text,
    &--btn button {
      font-size: map-get($font-sizes, 3);
    }

    &--image {
      button {
        white-space: nowrap;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .graph {
    &--image {
      margin-block-end: 1.5rem;
      border-radius: 1rem;
      height: 230px;

      img {
        width: 270px !important;
        height: 200px !important;
      }
    }

    &--btn {
      margin-inline-start: unset;
      margin-block-start: 1rem;

      button {
        margin-inline: auto;
      }
    }

    [data-selector='card-content'] {
      margin-block-start: 0.5rem;
    }
  }
}

@include media-breakpoint-up(md) {
  .graph {
    &--text {
      flex: 0 0 auto !important;
    }

    &--btn {
      flex: 0 0 auto !important;
      margin-inline-start: auto;
    }
  }
}
