.notFound {
  background-color: map-get($colors, simple-white);
  border-radius: 1.5rem;
  padding: 1.5rem;

  &__action {
    margin-block-start: 1rem;

    span {
      font-weight: map-get($font-weights, 600);
      color: map-get($colors, text-color-100);
    }

    button {
      border-radius: 0;
      padding: 0;
    }
  }

  &--title {
    font-weight: map-get($font-weights, 700);
    font-size: 1.25rem;
    color: map-get($colors, text-color-100);
  }
}

@include media-breakpoint-down(sm) {
  .notFound {
    border-radius: 0;
    padding: 1rem;

    &__action {
      span {
        font-weight: map-get($font-weights, 400);
        font-size: map-get($font-sizes, 3);
        color: map-get($colors, text-color-100);
      }
    }

    &--title {
      font-size: 1.125rem;
    }
  }
}
