.contactUs {
  padding: 3rem 0;
  margin: 2rem 0;

  [data-selector='title'] {
    font-weight: map-get($font-weights, 800);
    font-size: 2.5rem;
    color: map-get($colors, text-color-800);
  }

  [data-selector='contactUs-request'] {
    padding: 0.75rem 4rem;
    box-shadow: 0px 6px 12px rgba(0, 101, 242, 0.4);
    border-radius: 0.75rem;
  }

  [data-selector='contactUs-subscription'] {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: unset;
    padding-inline-end: 0;
  }

  [data-selector='description'] {
    max-width: 600px;
    font-weight: map-get($font-weights, 600);
    font-size: map-get($font-sizes, 5);
    color: map-get($colors, text-color-800);
    text-align: center;
  }

  [data-selector='phone'] {
    margin-inline-start: 0.5rem;

    path {
      fill: map-get($colors, jade);
    }
  }
}

@include media-breakpoint-down(lg) {
  .contactUs {
    padding: 0 2rem 4rem;
  }
}

@include media-breakpoint-down(md) {
  .contactUs {
    [data-selector='title'] {
      font-size: 1.5rem;
    }

    [data-selector='description'] {
      text-align: center;
      font-size: map-get($font-sizes, 4);
    }

    [data-selector='contactUs-action'] {
      flex-direction: column;
    }

    [data-selector='icon'] {
      scale: 0.7;
    }
  }
}

@include media-breakpoint-only(xl) {
  .contactUs {
    [data-selector='icon'] {
      img {
        width: 100%;
      }
    }
  }
}
