.managers {
  width: 100%;
  margin-block-start: 1.5rem;

  &__card {
    width: 100%;
  }

  &__ceoSection {
    padding: 1rem 1.5rem;
    gap: 1rem;
    border: 2px solid map-get($colors, primary-200);
    border-radius: 1.5rem;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 2rem;

    &--img {
      flex: 0 0 90px;
      aspect-ratio: 1/1;
      width: 90px;
      border-radius: 50%;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.06);
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;

      > * {
        width: 3rem;
        height: 3rem;
      }
    }

    &__details {
      gap: 0.5rem;

      span {
        font-weight: map-get($font-weights, 700);
        font-size: 1.125rem;
        color: map-get($colors, primary-900);
      }
      div {
        padding: 0.25rem 0.5rem;
        font-weight: map-get($font-weights, 700);
        font-size: map-get($font-sizes, 3);
        color: map-get($colors, white);
        background: linear-gradient(
          135deg,
          #0d72ff 14.64%,
          #9b69c6 50.94%,
          #e13019 85.36%
        );
        border-radius: 1rem;
      }
    }
  }

  &--notFound {
    width: 100%;
    margin-block-start: 1.5rem;
  }

  &--skeleton {
    margin-block-start: 1.5rem;
  }
}
