.signature {
  margin-block-end: 1.5rem;

  &--content {
    font-weight: map-get($font-weights, 400);
    color: map-get($colors, text-color-600);
    margin-block-end: 2rem;
  }

  &--notFound {
    width: 100%;
    margin-block-end: 1.5rem;
  }

  &--skeleton {
    margin-block-end: 1.5rem;
  }

  [data-selector='show-more'] {
    margin: 0 auto !important;
  }
}

@include media-breakpoint-down(sm) {
  .signature {
    &--content {
      font-size: map-get($font-sizes, 3);
    }
  }
}
