.codeSample {
  &__container {
    padding: 5rem 8.4375rem;
    background-color: #151d28;
    color: map-get($colors, simple-white);
  }

  &__items {
    padding-block: 0.5rem;

    &:first-of-type {
      padding-block-start: 0;
    }
    &:last-of-type {
      padding-block-end: 0;
    }

    [data-selector='lang'] {
      max-width: 120px;
      transition: all 0.2s ease-out;

      button {
        width: 100%;
        border-radius: 0.75rem;

        &:hover {
          background-color: map-get($colors, coral-300) !important;
        }

        &:active {
          background-color: map-get($colors, coral-400) !important;
        }
      }
    }

    [data-selector='lang-active'] {
      max-width: 150px;
      transition: all 0.2s ease-out;

      button {
        width: 100%;
        border-radius: 0.75rem;
        background-color: map-get($colors, coral) !important;
        border: 2px solid map-get($colors, coral) !important;
        font-weight: map-get($font-weights, 600);
        box-shadow: 0px 8px 16px -3px #ff7f5c;
      }
    }
  }

  &--title {
    font-weight: map-get($font-weights, 800);
    font-size: 2.5rem;
    letter-spacing: -0.015em;
    margin-block-start: 2rem;
    margin-block-end: 2.5rem;
  }

  [data-selector='image'] {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 100%;
    }
  }
}

@include media-breakpoint-only(xxl) {
  .codeSample {
    &__container {
      padding: 4rem 5rem;
    }
  }
}

@include media-breakpoint-only(xl) {
  .codeSample {
    &__container {
      padding: 3rem 1.5rem;
    }

    [data-selector='image'] {
      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }
}

@include media-breakpoint-only(lg) {
  .codeSample {
    row-gap: 2.5rem;

    &__container {
      padding: 2rem 1.5rem;
    }
  }
}

@include media-breakpoint-down(md) {
  .codeSample {
    row-gap: 2.5rem;

    &__container {
      padding: 2rem 1.5rem;
    }

    &--title {
      margin-block-end: 1rem;
      margin-block-start: 0;
      font-size: map-get($font-sizes, 6);
    }

    [data-selector='image'] {
      img {
        width: 100%;
        object-fit: contain;
        max-width: 550px;
      }
    }
  }
}
