@mixin common-styles {
  .confirmPhoneNumber {
    &--title {
      padding: 0 1rem;
      font-size: 1rem;
    }

    &--submit {
      position: fixed;
      width: 90%;
      bottom: 2.5rem;
      justify-content: center;
      margin: unset;
    }
  }

  .CEOForm {
    &--search {
      width: 90%;
      position: absolute;
      bottom: 1rem;
    }
  }
}

// =========================================================================\
// Helper

.CEOForm {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin: 1rem;
    text-align: center;
  }

  form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;

    > div:first-of-type {
      div:first-of-type {
        height: auto;

        input {
          border: unset;
        }
      }
    }
  }

  &__input {
    width: 20.5rem;
    // height: 2.6rem;

    div {
      width: 20.5rem;
      height: 2.6rem;
      border: 2px solid map-get($colors, text-3);
      input {
        background-color: #fff;
        border: 1px solid gray;
        border-radius: 0.5rem;
      }
    }
    span {
      font-size: map-get($font-sizes, 3) !important;
      color: map-get($colors, danger) !important;
    }
  }

  &--search {
    width: 20.25rem;
    height: 3rem;
    margin: 1rem 0 2rem 0;
  }
}

.CEOFormError {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--title {
    font-weight: map-get($font-weights, 600);
    font-size: map-get($font-sizes, 4);
    line-height: 20px;
    color: map-get($colors, text-1);
    margin: 2rem 0 1rem 0;
  }

  &--editNumber {
    all: unset;
    font-weight: map-get($font-weights, 400);
    font-size: map-get($font-sizes, 3);
    cursor: pointer;
    margin-bottom: 1rem;
  }

  &--connection {
    display: flex;
    margin-bottom: 1rem;

    p {
      font-weight: map-get($font-weights, 400);
      font-size: map-get($font-sizes, 3);
      color: map-get($colors, 2);
    }

    button {
      all: unset;
      font-weight: map-get($font-weights, 400);
      font-size: map-get($font-sizes, 3);
      color: map-get($colors, blue-button);
      margin-inline-start: 0.5rem;
    }
  }
}

.confirmPhoneNumber {
  display: flex;
  flex-direction: column;
  align-items: center;
  &--title {
    margin-top: 1rem;
    font-weight: map-get($font-weights, 400);
    font-size: 1.12rem;
    line-height: 36px;
    color: map-get($colors, text-1);
  }
  &--editNumber {
    all: unset;
    font-weight: map-get($font-weights, 400);
    font-size: map-get($font-sizes, 3);
    margin: 1.5rem 0;
    cursor: pointer;
  }

  &__inputs {
    display: flex;
    justify-content: space-between;
    width: 22.5rem;
    height: 2.6rem;
    direction: ltr;
  }

  &__reSend {
    width: 20.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0 1rem 0;

    & > button {
      all: unset;
      font-weight: map-get($font-weights, 400);
      font-size: map-get($font-sizes, 3);
      cursor: pointer;
    }

    & > p:first-of-type {
      color: map-get($colors, black);
    }
  }

  &--submit {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 16px;
    width: 20.5rem;
    height: 2.6rem;
    border-radius: 0.5rem;
    transition: all 0.3s;
  }
}

@include media-breakpoint-only(md) {
  @include common-styles();
}

@include media-breakpoint-only(sm) {
  @include common-styles();
}
