.about {
  display: flex;
  flex-direction: column;

  &__header {
    background-color: map-get($colors, primary);
    padding-bottom: 26rem;
    position: relative;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 990px) {
      padding-top: 2rem;
    }

    @media screen and (max-width: 800px) {
      padding-bottom: 20rem;
    }

    @media screen and (max-width: '600px') {
      padding-bottom: 12rem;
    }

    &--title {
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 2.5rem;
      text-align: center;
      color: #ffffff;
      opacity: 0.8;
      margin-top: 2.5rem;
    }

    &--subTitle {
      font-weight: 800;
      font-size: 3.5rem;
      line-height: 5.25rem;
      text-align: center;
      color: #ffffff;
      margin: 2rem 0 0 0;
      @media screen and (max-width: 800px) {
        font-size: 2rem;
      }
    }

    &--video {
      height: 30.4rem;
      width: 54rem;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -15%);
      bottom: -4rem;

      @media screen and (max-width: 1000px) {
        width: 45rem;
        height: 25.25rem;
        transform: translate(-50%, -5%);
        top: 55%;
      }
      @media screen and (max-width: 800px) {
        width: 35rem;
        height: 20rem;
        transform: translate(-50%, -15%);
        top: 60%;
      }
      @media screen and (max-width: 600px) {
        width: 22rem;
        height: 13rem;
        top: 75%;
      }
    }
  }

  &__description {
    background-color: map-get($colors, white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 8.5rem;
    width: 100%;
    @media screen and (max-width: 1000px) {
      padding: 0 3rem;
    }
  }

  &__history {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 8.5rem 0 8.5rem;
    background: map-get($colors, blue-bg);
    @media screen and (max-width: 600px) {
      padding: 4rem 0 0 0;
    }

    &--title {
      font-family: 'Yekan Bakh FaNum';
      font-style: normal;
      font-weight: 800;
      font-size: 2.5rem;
      line-height: 4rem;
      text-align: center;
      color: #151617;
      margin-bottom: 4rem;
      @media screen and (max-width: 600px) {
        font-size: 2rem;
      }
    }

    &--data {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 0 11rem;
      @media screen and (max-width: 700px) {
        padding: 0;
      }
    }
  }

  &__team {
    &--wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: map-get($colors, white);
      padding: 5rem 0;
      position: sticky;
      position: -webkit-sticky;
      top: 0;
    }
    &--title {
      font-family: 'Yekan Bakh FaNum';
      font-style: normal;
      font-weight: 800;
      font-size: 2.5rem;
      line-height: 3rem;
      text-align: center;
      color: map-get($colors, text-1);
      @media screen and (max-width: 600px) {
        font-size: 2rem;
      }
    }
    &--subTitle {
      display: inline-block;
      max-width: 54rem;
      font-family: 'Yekan Bakh FaNum';
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5rem;
      text-align: center;
      color: map-get($colors, black);
      margin: 2rem 0 2rem 0;
      @media screen and (max-width: 1000px) {
        padding: 1rem 2rem;
      }
      @media screen and (max-width: 600px) {
        margin: 0.5rem 0 0.5rem 0;
      }
    }

    &__cards {
      width: 99vw;
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      touch-action: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    &--wrapperCard {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 200;
    }
  }

  &__catalog {
    background-image: url('/image/about/catalogue.jpg');
    height: 700px;
    width: 100%;
    background-size: cover;
    background-position: center 35%;
    text-align: center;

    &--title {
      font-family: 'Yekan Bakh FaNum';
      font-style: normal;
      font-weight: 800;
      font-size: 2.5rem;
      line-height: 4rem;
      text-align: center;
      color: map-get($colors, white);
      margin-top: 2rem;
      display: block;
      @media screen and (max-width: 600px) {
        font-size: 2rem;
      }
    }

    &__button {
      margin: 1rem auto 0;
      background-color: map-get($colors, white);
      border-radius: 12px;
      color: black;
      padding: 0.875rem 1rem;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        font-size: 0.9rem;
      }

      svg {
        font-size: 1rem !important;
        margin-inline-start: 0.5rem;
      }
    }
  }
}

.vjs-theme-arvan .vjs-control-bar {
  position: absolute;
  bottom: 2rem !important;
}
