@mixin common-styles() {
  background-color: unset;
  display: flex;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.forgot {
  width: 100%;

  &__form {
    width: 100%;

    // [data-selector='input'] {
    //   padding: 0 0.75rem;
    // }

    [data-selector='submit'] {
      width: 100%;
      margin-block-start: 1.5rem;
    }

    [data-selector='enter'] {
      width: 100%;
      margin-block-start: 0.5rem;
      font-weight: map-get($font-weights, 600);
    }
  }

  &__notRegistered {
    margin-block-start: 0.25rem;

    span {
      font-weight: map-get($font-weights, 400);
      font-size: map-get($font-sizes, 2);
      color: map-get($colors, secondary);
    }

    button {
      background-color: unset;
      font-weight: map-get($font-weights, 600);
      font-size: map-get($font-sizes, 3);
      color: map-get($colors, primary);
      padding: 0;
      border-block-end: 1px solid map-get($colors, primary);
      border-radius: 0;
    }
  }

  &--description {
    font-weight: map-get($font-weights, 400);
    font-size: 1.125rem;
    color: map-get($colors, text-color-900);
    margin-block: 0.5rem 2rem;
  }

  &--title {
    font-weight: map-get($font-weights, 700);
    font-size: map-get($font-sizes, 7);
    color: map-get($colors, text-color-900);
    margin-block-start: 3rem;
  }

  [data-selector='back'] {
    @include common-styles();
  }
}

// ============================================================

.confirm {
  width: 100%;

  &--description {
    font-weight: map-get($font-weights, 400);
    font-size: 1.125rem;
    color: map-get($colors, text-color-900);
    text-align: center;
    margin-block-start: 0.5rem;
  }

  &__inputs {
    width: 100%;

    > input {
      height: 3rem;
      border-radius: 0.75rem;
    }
  }

  &__reSend {
    width: 100%;

    > span {
      font-weight: map-get($font-weights, 400);
      font-size: map-get($font-sizes, 3);
      color: map-get($colors, text-color-900);
      padding: 0.8rem 0;
    }

    > button {
      background-color: unset;
      font-weight: map-get($font-weights, 600);
      font-size: map-get($font-sizes, 3);
      color: map-get($colors, primary);
      padding: 0.75rem 0;
      border-radius: unset;
      border-block-end: 1px solid transparent;

      &:hover {
        border-block-end: 1px solid map-get($colors, primary);
      }

      &:disabled {
        background-color: unset !important;
        border-block-end: unset;
      }
    }
  }

  &--edit {
    font-weight: map-get($font-weights, 600);
    margin-block: 0.5rem 2rem;
    background-color: unset;
    color: map-get($colors, primary);
    padding: 0;
    border-radius: unset;
    border-block-end: 1px solid transparent;

    &:hover {
      border-block-end: 1px solid map-get($colors, primary);
    }
  }

  &--accept {
    width: 100%;
    font-weight: map-get($font-weights, 600);
    margin-block-start: 1.5rem;
  }

  &--enter {
    width: 100%;
    margin-block-start: 0.5rem;
    font-weight: map-get($font-weights, 600);
  }

  &--title {
    font-weight: map-get($font-weights, 700);
    font-size: map-get($font-sizes, 7);
    color: map-get($colors, text-color-900);
    margin-block-start: 3rem;
  }

  &--password {
    width: 100%;
    margin-block-start: 0.5rem;

    // input {
    //   padding: 0 0.85rem;
    // }

    [data-selector='suffix'] {
      inset-block-start: 26%;
    }
  }

  [data-selector='back'] {
    @include common-styles();
  }
}

.changedPass {
  width: 100%;

  &--description {
    font-weight: map-get($font-weights, 400);
    font-size: 1.125rem;
    color: text-color-900;
    margin-block-start: 3rem;
    text-align: center;
    margin-block-end: 2rem;
  }

  &--lottie {
    max-width: 64px;
    max-height: 64px;
    margin-block-start: 2rem;
  }

  &--enter {
    width: 100%;
    font-weight: map-get($font-weights, 600);
    color: map-get($colors, white);
  }
}
