.invitation {
  overflow-y: unset !important;
  &__row {
    position: relative;
    overflow-y: auto;
    padding: 1.5rem 0;
    width: 698px;
    height: 443px;
    background: map-get($colors, white);
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.2);
    border-radius: 24px;

    &--imageBox {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100%;
      background: linear-gradient(
        135deg,
        #0d72ff 14.64%,
        #9b69c6 50.94%,
        #e13019 85.36%
      );
      border-radius: 16px;
    }
    &--contentBox {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      [data-selector='header'] {
        display: flex;
        align-items: flex-start;
        gap: 1rem;
        h2 {
          font-weight: map-get($font-weights, 700);
          font-size: map-get($font-sizes, 6);
          line-height: 150%;
          color: map-get($colors, text-color-900);
        }
        button {
          display: flex;
          align-items: flex-start;
          justify-content: flex-end;
          min-width: 25px;
          min-height: 25px;
          border-radius: 12px;
          padding: unset;
          svg {
            rotate: 45deg;
          }
        }
      }
      [data-selector='body'] {
        span {
          font-weight: map-get($font-weights, 600);
          font-size: map-get($font-sizes, 3);
          line-height: 150%;
          color: map-get($colors, text-color-100);
        }
        [data-selector='body-items'] {
          display: flex;
          align-items: center;
          margin-block: 0.5rem;
          svg {
            margin-inline-end: 0.5rem;
          }
          p {
            font-weight: map-get($font-weights, 600);
            font-size: map-get($font-sizes, 3);
            line-height: 150%;
            text-align: right;
            color: map-get($colors, text-color-900);
          }
        }
      }
      [data-selector='footer'] {
        display: flex;
        align-items: center;
        justify-content: space-between;
        [data-selector='close'] {
          padding: 12px 16px;
          border-bottom: unset;
          font-weight: map-get($font-weights, 600);
          font-size: map-get($font-sizes, 4);
          line-height: 150%;
        }
        [data-selector='checkout'] {
          padding: 12px 16px;

          span {
            margin-inline-end: 0.5rem;
            font-weight: map-get($font-weights, 600);
            font-size: map-get($font-sizes, 4);
            line-height: 150%;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .invitation {
    &__row {
      padding: 1rem;
      height: 100%;
      width: 100%;
      border-radius: unset;
      align-items: flex-start;

      &--imageBox {
        min-height: unset;
        img {
          height: 210px;
        }
      }

      &--contentBox {
        [data-selector='header'] {
          h2 {
            font-size: map-get($font-sizes, 5);
          }
          button {
            position: absolute;
            left: 24px;
            top: 24px;
            background-color: rgba(255, 255, 255, 0.5) !important;
            align-items: center;
            justify-content: center;
            min-width: 48px;
            min-height: 48px;
          }
        }
        [data-selector='body'] {
          [data-selector='body-items'] {
            align-items: flex-start;
          }
        }
        [data-selector='footer'] {
          justify-content: flex-end;
          gap: 8px;
        }
      }
    }
  }
}
