@mixin common-styles {
  .contactSupport {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    padding: 1.5rem;
    border-radius: unset;

    &__header {
      margin-top: 2rem;
      p {
        font-size: map-get($font-sizes, 5);
        margin: 1.5rem 0 0.75rem 0;
      }
    }

    &__content {
      height: 100vh;
      position: relative;
      margin-bottom: unset;

      &__form {
        &__wrapper {
          flex-direction: column;
          align-items: center;
          gap: 1rem;

          &--input {
            width: 100%;

            label {
              font-size: map-get($font-sizes, 3);
            }
          }
        }

        &--submit {
          margin-bottom: 1rem;
        }

        &--description {
          label {
            font-size: map-get($font-sizes, 3);
          }
        }
      }

      &--email {
        margin: 1rem 0;

        a {
          font-size: map-get($font-sizes, 4);
        }
      }

      &--phone {
        margin: 1rem 0;

        & > div {
          a {
            font-size: map-get($font-sizes, 4);
          }
        }

        p {
          font-size: map-get($font-sizes, 3);
        }
      }
    }
  }
}

.contactSupport {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem;
  width: 32.5rem;
  background-color: map-get($colors, white);
  box-shadow: 0px 1rem 1.5rem rgba(0, 0, 0, 0.12);
  border-radius: 0.75rem;

  &__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > div {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      svg {
        font-size: 1.25rem;
        cursor: pointer;
      }
    }

    p {
      width: 100%;
      margin: 1.5rem 0;
      font-weight: map-get($font-weights, 600);
      font-size: map-get($font-sizes, 6);
      color: map-get($colors, text-1);
      text-align: start;
    }
  }

  &__content {
    width: 100%;

    &--phone {
      margin: 2rem 0;

      & > div {
        display: flex;

        a {
          font-weight: map-get($font-weights, 600);
          font-size: 1.25rem;
          color: map-get($colors, text-1);
        }

        svg {
          width: 1.5rem;
          height: 1.75rem;
          color: map-get($colors, blue-button);
          margin-inline-end: 0.5rem;
        }
      }
    }

    &--email {
      display: flex;

      margin: 2rem 0;

      svg {
        color: map-get($colors, blue-button);
        width: 1.5rem;
        height: 1.5rem;
        margin-inline-end: 0.5rem;
      }
      a,
      p {
        font-weight: map-get($font-weights, 600);
        font-size: map-get($font-sizes, 5);
        color: map-get($colors, text-1);
      }
    }

    &__form {
      overflow: hidden;

      & > p {
        font-weight: map-get($font-weights, 700);
        font-size: map-get($font-sizes, 4);
        color: map-get($colors, text-1);
        margin-bottom: 1rem;
      }

      &__wrapper {
        display: flex;
        gap: 0.5rem;

        &--input {
          flex: 1 1 100%;

          & > div {
            & > input {
              background-color: map-get($colors, blue-bg);
            }
          }
        }
      }

      &--description {
        margin: 1rem 0;
        width: 100%;
        height: 7rem;
        resize: none;
        background-color: map-get($colors, blue-bg);
        border: unset;
        outline: unset;
        border-radius: 0.5rem;
        padding: 0.875rem;

        &::placeholder {
          font-size: 0.85rem;
        }
      }

      &--submit {
        width: 100%;
        padding: 0.87rem 0;
      }
    }
  }
}

@include media-breakpoint-only(md) {
  @include common-styles();
}

@include media-breakpoint-only(sm) {
  @include common-styles();
}
