@mixin common-styles {
  .productModal {
    width: 100%;
    height: 100vh;
    margin: 0;
    border-radius: unset;

    &__header {
      padding: 1rem 1.5rem;
      [data-selector='arrow-close'] {
        display: block;
      }
      [data-selector='close'] {
        display: none;
      }
    }
    &__body {
      padding: 1.5rem 1.5rem 0.5rem 0;
      [data-selector='title-box'] {
        flex-direction: column;
        div {
          h2 {
            margin-inline-start: 1.5rem;
          }
          &:last-child {
            margin-inline-start: unset;
            margin-block-start: 1rem;
            h2 {
              margin-inline-start: 6.5rem;
            }
          }
        }
      }
    }
  }
}

.product {
  [data-selector='title'],
  [data-selector='type'] {
    font-weight: map-get($font-weights, 400);
    font-size: map-get($font-sizes, 3);
    line-height: 150%;
  }
  [data-selector='eye-svg'] {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: unset;
    margin: 0 auto;
    cursor: pointer;
    path {
      fill: map-get($colors, primary);
    }
    &:hover {
      background-color: var(--primary-100, #e4e9ff);
    }
  }
}

// Modal style

.productModal {
  width: 984px;
  min-height: 500px;
  max-width: 100%;
  background-color: map-get($colors, white);
  border-radius: 24px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
    p {
      font-weight: map-get($font-weights, 600);
      font-size: 1.5rem;
      text-align: start;
      color: map-get($colors, text-1);
    }
    button {
      all: unset;
      cursor: pointer;
    }
    [data-selector='arrow-close'] {
      display: none;
    }
  }
  &__body {
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    [data-selector='title-box'] {
      display: flex;
      div {
        display: flex;
        align-items: center;
        h2 {
          font-weight: map-get($font-weights, 700);
          font-size: 1rem;
          line-height: 150%;
          color: #101822;
          margin-inline-start: 0.5rem;
        }
        h4 {
          font-weight: map-get($font-weights, 400);
          font-size: 1rem;
          line-height: 150%;
          color: #505358;
        }
        &:last-child {
          margin-inline-start: 3rem;
        }
      }
    }
    [data-selector='box'] {
      overflow: auto;
      margin: 1.5rem 0;
      [data-selector='box-content'] {
        min-width: 582px;
        [data-selector='box-header'] {
          padding: 12px 8px;
          border-bottom: 2px solid #e4e9ff;
        }
        [data-selector='box-item'] {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 8px 8px 8px 24px;
          background: #ffffff;
          border-bottom: 1px solid #e4e9ff;
          &:last-child {
            border-bottom: unset;
          }
          button {
            min-width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            span {
              border-bottom: 1px solid #0d72ff;
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              line-height: 150%;
            }
            svg {
              transform: rotateY(180deg);
              path {
                fill: #0d72ff;
              }
            }
            &:hover {
              background: unset;
            }
          }
          &:hover {
            background: #f4f4f4;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  @include common-styles();
}

@include media-breakpoint-down(sm) {
  @include common-styles();
  .product {
    &--card {
      padding: 1.5rem 1.5rem 1.5rem 0;
    }
  }
}
