.webService {
  min-height: 725px;
  padding: 4rem 0;

  &__container {
    margin-block: 5rem 3rem;
    background-image: url('/svg/staticPage/purple-circle-description.svg'),
      url('/svg/staticPage/red-circle-description.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: top right, center left;
    background-size: auto, 725px;
  }

  &__column {
    [data-selector='wrapper'] {
      padding: 1.25rem;
      background-color: rgba(255, 255, 255, 0.6);
      border: 2px solid map-get($colors, white);
      box-shadow: 0px 40px 80px -20px rgba(13, 114, 255, 0.2);
      backdrop-filter: blur(15px);
      border-radius: 1.5rem;
      height: 100%;

      span {
        font-weight: map-get($font-weights, 700);
        color: map-get($colors, text-color-800);
        margin-block-start: 1.5rem;
        text-align: center;
      }

      img {
        height: 88px;
        aspect-ratio: 1/1;
      }
    }
  }

  &__row {
    width: 100%;
    row-gap: 24px;
  }

  &--title {
    font-weight: map-get($font-weights, 800);
    font-size: 2.5rem;
    color: map-get($colors, text-color-800);
    margin-block-end: 5rem;
  }
}

@include media-breakpoint-up(xxl) {
  .webService {
    &__column {
      max-width: 20%;
      flex: 0 0 20%;
    }
  }
}

@include media-breakpoint-between(xl, xxl) {
  .webService {
    &__container {
      background-position: 105% 1%, -70%;
    }
    &__column {
      max-width: 20%;
      flex: 0 0 20%;
    }
  }
}

@include media-breakpoint-only(xl) {
  .webService {
    &__container {
      background-size: 300px, 640px;
      background-position: 105% 1%, -70%;
      min-height: 640px;
    }
  }
}

@include media-breakpoint-only(lg) {
  .webService {
    &__container {
      background-size: auto, 650px;
      background-position: 105% 1%, -70% 90%;
      min-height: 650px;
    }
  }
}

@include media-breakpoint-only(sm) {
  .webService {
    background-size: 300px, 400px;
    background-position: 160% 7%, 50% 90%;
  }
}

@include media-breakpoint-down(xxl) {
  .webService {
    padding: 0 1.5rem;
  }
}

@include media-breakpoint-down(sm) {
  .webService {
    [data-selector='wrapper'] {
      span {
        font-size: map-get($font-sizes, 3);
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .webService {
    &--title {
      font-size: 2rem;
    }
  }
}

@include media-breakpoint-down(md) {
  .webService {
    padding: 0 0.75rem;

    &__column {
      [data-selector='wrapper'] {
        border-radius: 1rem;
      }
    }

    &--title {
      font-size: 1.5rem;
    }

    &__row {
      row-gap: 0.5rem;
    }
  }
}
