.faq {
  margin-block: 1.5rem;

  &__row {
    row-gap: 0.5rem;
    margin-block: 2rem;

    &:first-of-type {
      margin-block-start: 0;
    }
    &:last-of-type {
      margin-block-end: 0;
    }

    &--answer {
      font-size: map-get($font-sizes, 3);
    }

    &--question {
      display: flex;
      align-items: center;
      font-size: 1.125rem;
      color: map-get($colors, text-color-800);
      font-weight: map-get($font-weights, 700);

      span {
        background-color: map-get($colors, text-color-800);
        display: inline-block;
        aspect-ratio: 1/1;
        height: 0.5rem;
        border-radius: 50%;
        margin-inline-end: 0.5rem;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .faq {
    &__row {
      &--question {
        align-items: flex-start;

        span {
          margin-block-start: 0.5rem;
        }
      }
    }
  }
}
