.whatToDo {
  text-align: center;
  padding: 4rem 0;

  [data-selector='title'] {
    font-weight: map-get($font-weights, 800);
    font-size: map-get($font-sizes, 7);
    color: map-get($colors, text-color-800);
    line-height: 48px;
    padding-bottom: 0.5rem;

    span {
      font-weight: map-get($font-weights, 800);
      font-size: map-get($font-sizes, 7);
      line-height: 48px;
      background-color: inherit;
      text-decoration: underline;
      text-decoration-color: map-get($colors, jade);
      text-underline-offset: 1.25rem;
    }
  }

  [data-selector='right'],
  [data-selector='left'],
  [data-selector='middle'] {
    display: flex;
    flex-direction: column;
  }

  hr {
    display: none;
  }

  [data-selector='itemsBox'] {
    min-height: 52.5rem;
  }
  [data-selector='middle'] {
    align-self: flex-end;
  }

  &__container {
    background: linear-gradient(
      112.6deg,
      rgba(13, 114, 255, 0.1) 0%,
      rgba(155, 105, 198, 0.1) 55.99%,
      rgba(225, 48, 25, 0.1) 109.08%
    );
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid map-get($colors, white);
    box-shadow: 0px 80px 80px -40px rgba(0, 101, 242, 0.2);
    border-radius: 24px;
    gap: 0.75rem;
    padding: 2.5rem;
    margin: 0.5rem 0;
    height: 20.5rem;

    &--title {
      font-weight: map-get($font-weights, 600);
      font-size: map-get($font-sizes, 6);
      line-height: 40px;
      text-align: right;
      color: map-get($colors, text-color-600);
      align-self: flex-start;
    }

    &--description {
      font-style: normal;
      font-weight: map-get($font-weights, 400);
      font-size: map-get($font-sizes, 4);
      line-height: 32px;
      text-align: right;
      color: map-get($colors, text-color-600);
    }
  }
}

@include media-breakpoint-down(md) {
  .whatToDo {
    [data-selector='title'] {
      font-weight: map-get($font-weights, 800);
      font-size: map-get($font-sizes, 5);
      line-height: 32px;
      padding: 0 2rem;

      span {
        font-weight: map-get($font-weights, 800);
        font-size: map-get($font-sizes, 5);
        line-height: 32px;
        text-decoration: unset;
      }
    }
    hr {
      display: block;
      width: 8rem;
      border-bottom: 4px solid map-get($colors, jade);
      margin: 1rem auto 2rem;
    }
    &__card {
      padding: 1rem;
      height: 13.75rem;

      &--title {
        font-size: map-get($font-sizes, 5);
        line-height: 32px;
      }

      &--description {
        font-size: map-get($font-sizes, 3);
        line-height: 28px;
      }
    }
  }
}

@include media-breakpoint-only(lg) {
  .whatToDo {
    &__card {
      align-items: flex-start;
      &--icon {
        width: 100%;
        text-align: center;
      }
    }

    [data-selector='left'] {
      flex-direction: row;
      justify-content: space-between;

      .whatToDo {
        &__card {
          flex: 0 0 49%;
          max-width: 49%;
        }
      }
    }
  }
}

@include media-breakpoint-only(sm) {
  .whatToDo {
    &__card {
      > * {
        width: 100%;
        text-align: center;
      }
    }
  }
}

@include media-breakpoint-between(lg, xxl) {
  .whatToDo {
    &__card {
      height: 23.5rem;
    }
  }
}
