.workSpace--card {
  max-width: 100%;
  margin: 0;
  padding: 0;

  [data-selector='images-box'] {
    width: 100%;
    row-gap: 1rem;
    margin-block-end: 2rem;
    margin-inline: 0;

    [data-selector='card-company-image'] {
      width: 100%;
      aspect-ratio: 2/1.25;
    }
  }
}

.workSpace--notFound {
  margin-block-end: 1.5rem;
  width: 100%;
}

@include media-breakpoint-down(md) {
  .workSpace--card {
    [data-selector='images-box'] {
      flex-wrap: nowrap !important;
      scroll-snap-type: x mandatory;
      overflow-x: auto;
      margin-block: 1.5rem;

      &::-webkit-scrollbar {
        display: none;
      }

      > * {
        scroll-snap-align: start;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .workSpace--card {
    [data-selector='images-box'] {
      margin-inline: -1rem !important;
      width: auto;
    }
  }
}
