.panel {
  margin: 1rem 0;
  background-color: map-get($colors, light-gray);

  &[data-selector='panel-active'] {
    background-color: rgba(21, 22, 23, 0.02);

    [data-selector='panel-content'],
    [data-selector='panel-content-active'] {
      opacity: 1;
      max-height: 2000px;
    }

    .panel {
      &--icon {
        path {
          rotate: 180deg;
          transform-origin: center;
          transition: transform 0.2s ease-in-out;
        }
      }
    }
  }

  &__content {
    display: none;
    opacity: 0;
    max-height: 0;
    transition: max-height 0.2s ease-in-out, opacity 0.25s ease-in-out;

    &--active {
      display: block;
    }
  }

  &--icon {
    display: flex;

    path {
      transition: transform 0.2s ease-in-out;
    }
  }

  > button {
    all: unset;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}
