.plans {
  &--description {
    font-size: map-get($font-sizes, 3);
    color: map-get($colors, dark-gray-1);
  }

  &--expiration {
    font-size: map-get($font-sizes, 3);
    color: map-get($colors, dark-gray-1);

    [data-selector='expire-date'] {
      font-size: map-get($font-sizes, 4);
      color: map-get($colors, black);
    }
  }

  &--footer {
    text-align: center;
    font-size: map-get($font-sizes, 3);
    color: #30363d;
  }

  &__services {
    margin: 2rem 0 1rem 0;

    > * {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;

      span {
        font-size: map-get($font-sizes, 3);
        color: #30363d;
      }
    }
  }
}

.planItem {
  all: unset;
  width: 100%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  padding: 1rem 1.5rem;
  background-color: map-get($colors, white);
  border: 2px solid map-get($colors, dark-gray);
  border-radius: 0.75rem;
  transition: all 0.3s;

  &--active {
    background: #e4e9ff;
    border: 2px solid #0d72ff;
    box-shadow: 0px 4px 16px rgba(0, 116, 255, 0.1);
  }

  [data-selector='plan-price'] {
    display: flex;
    justify-content: flex-end;
    font-weight: map-get($font-weights, 700);
    gap: 0.5rem;
  }

  [data-selector='plan-title'] {
    font-weight: map-get($font-weights, 800);
    font-size: 20px;
  }

  [data-selector='plan-icon'] {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
}

@include media-breakpoint-down(sm) {
  .plans {
    [data-selector='expiration'] {
      flex-direction: column;
    }
  }
}

@include media-breakpoint-down(lg) {
  .plans {
    gap: 2rem;

    &--footer {
      display: none;
    }
    &__services {
      display: none;
    }

    [data-selector='expiration'] {
      width: 100%;
      align-items: center;
    }

    &--description {
      justify-content: center;
    }
  }
}

@include media-breakpoint-only(lg) {
  .planItem {
    [data-selector='plan-icon'] {
      flex-direction: column;
    }

    [data-selector='plan-price'] {
      justify-content: center;
      margin-top: 0.5rem;
    }
  }
}
