@mixin common-styles {
  .companyAuth {
    width: 100%;
    height: 100vh;
    margin: 0;
    border-radius: unset;

    &__header {
      padding: 3rem 1.5rem 0.5rem 1.5rem;
    }
  }

  .companySteps {
    width: 90%;
  }

  .authProcess {
    &--btn {
      position: fixed;
      width: 90%;
      justify-content: center;
      margin-bottom: unset;
      bottom: 2.5rem;
      margin-top: 0;
    }

    &--title {
      margin: 0 1rem;
    }

    &--content {
      margin: 0 1rem;
    }
  }
}
.companyAuth {
  background-color: map-get($colors, white);
  width: 57rem;
  // box-shadow: 0px 1rem 1.5rem rgba(0, 0, 0, 0.12);
  border-radius: 0.75rem;
  margin: 0 1rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
    p {
      font-weight: 600;
      font-size: 1.5rem;
      text-align: start;
      color: map-get($colors, text-1);
    }
    button {
      all: unset;
      cursor: pointer;
    }
  }
}

// =================================================================

// Helper

.authProcess {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  &--title {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 2rem;
    color: map-get($colors, text-1);
  }

  &--content {
    font-weight: 400;
    text-align: center;
    max-width: 34.75rem;
    font-size: 0.875rem;
    line-height: 1.75rem;
    color: map-get($colors, text-2);
  }

  &--btn {
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;

    p {
      margin-inline-end: 0.5rem;
    }

    svg {
      font-size: 1.1rem;
    }
  }
}

.companySteps {
  width: 70%;
  margin: 1.5rem auto;
}

@include media-breakpoint-only(md) {
  @include common-styles();
}

@include media-breakpoint-only(sm) {
  @include common-styles();
}
