@mixin common-item-styles {
  .step {
    &__item {
      border-color: #04b20b;

      &::after {
        background: #04b20b;
        z-index: -100;
      }
    }
  }
}

@mixin common-title-styles {
  .step {
    &__title {
      font-size: 0.75rem;
    }
  }
}

.step {
  position: relative;

  &--active {
    @include common-item-styles();
  }

  &--finish {
    @include common-item-styles();
  }

  &__item {
    width: 24px;
    height: 24px;
    background-color: map-get($colors, white);
    border-radius: 50%;
    border: 9px solid #e4e4e4;
    z-index: 200;

    &::after {
      position: absolute;
      inset-block-start: 10px;
      inset-inline-end: 100%;
      display: block;
      width: 9999px;
      height: 4px;
      background: #e4e4e4;
      content: '';
      z-index: -200;
    }

    &--doneItem {
      border: unset;

      svg {
        background-color: map-get($colors, success);
        border-radius: 50%;
        color: map-get($colors, white);
        width: 1.5rem;
        height: 1.5rem;
        padding: 2px;
      }
    }
  }

  &__title {
    margin-top: 0.5rem;

    &--doneTitle {
      color: map-get($colors, success);
    }
  }
}

@include media-breakpoint-only(md) {
  @include common-title-styles();
}

@include media-breakpoint-only(sm) {
  @include common-title-styles();
}
