.business {
  margin-block: 1.5rem;

  &__import {
    &--title {
      margin-block-end: 2rem;
      > span {
        font-weight: map-get($font-weights, 400);
        font-size: map-get($font-sizes, 4);
        color: map-get($colors, text-color-600);
        letter-spacing: -0.005em;
        line-height: 190%;
      }
    }
    &--table {
      border: unset !important;
    }

    [data-selector='title'] {
      font-weight: map-get($font-weights, 400);
      font-size: map-get($font-sizes, 3);
    }
    [data-selector='stars'] {
      svg {
        width: 25px;
        height: 25px;
        color: map-get($colors, mari-gold);
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .business {
    &__import {
      &--table {
        margin-inline-end: -1.5rem;
      }
      &--title {
        > span {
          font-size: map-get($font-sizes, 3);
        }
      }
    }
  }
}
