.description {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: map-get($colors, white);
  margin: 7rem;
  padding: 0 10rem;
  gap: 2rem;
  @media screen and (max-width: 1800px) {
    padding: 0 2rem;
  }
  @media screen and (max-width: 1000px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  @media screen and (max-width: 700px) {
    margin: 7rem 7rem 2rem 7rem;
  }

  &__logo {
    margin-inline-start: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1 1 100%;

    svg,
    img {
      width: 100%;
    }
    @media screen and (max-width: 1500px) {
      margin-top: 4rem;
      margin-inline-start: 0;
    }
  }

  &__main {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-inline-end: 2rem;

    &--title {
      font-family: 'Yekan Bakh FaNum';
      font-style: normal;
      font-weight: 800;
      font-size: 2.5rem;
      line-height: 4rem;
      text-align: right;
      color: #151617;
      @media screen and (max-width: '600px') {
        font-size: 2rem;
      }
    }

    &--subtitle {
      font-family: 'Yekan Bakh FaNum';
      font-style: normal;
      font-weight: 800;
      font-size: 1.5rem;
      line-height: 2.5rem;
      text-align: right;
      font-feature-settings: 'tnum' on, 'lnum' on;
      color: #151617;
    }

    &--des {
      font-family: 'Yekan Bakh FaNum';
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      line-height: 2rem;
      text-align: right;
      color: #151617;
    }
  }

  &--reverse {
    direction: ltr !important;

    .description {
      &__Logo {
        margin-inline-end: 2rem;
        margin-inline-start: unset;
        @media screen and (max-width: 700px) {
          margin-inline-end: 0;
        }
      }

      &__main {
        margin-inline-end: unset;
        margin-inline-start: 2rem;
        @media screen and (max-width: 700px) {
          margin-inline-start: 0;
          margin-inline-end: 2rem;
        }
      }
    }
  }
}
