.header {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-block-start: 3rem;

  &--subtitle {
    font-size: map-get($font-sizes, 6);
    color: map-get($colors, text-color-600);
    text-align: center;
    margin-block-start: 1rem;
    font-weight: map-get($font-weights, 600);
  }

  [data-selector='request-consultant'] {
    padding: 0.75rem 1rem;
    box-shadow: 0px 6px 12px rgba(0, 101, 242, 0.4);
    border-radius: 0.75rem;
  }

  [data-selector='subscription'] {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: unset;
    padding: 0.5rem 0 0.25rem 0;
  }

  &--title {
    margin-block-end: 3rem;
    margin-block-start: 1rem;

    &,
    span {
      font-weight: map-get($font-weights, 800);
      font-size: 3.5rem;
      color: map-get($colors, text-color-800);
      text-align: center;
    }
  }

  &--icon {
    text-align: center;

    img {
      width: 3.75rem;
      height: 3.75rem;
    }
  }
}

@include media-breakpoint-down(lg) {
  .header {
    &--title {
      font-size: map-get($font-sizes, 7);
      padding: 0 1rem;

      span {
        font-size: map-get($font-sizes, 7);
      }

      span {
        padding: 0;
      }
    }

    &--subtitle {
      font-size: 1.1rem;
    }
  }
}

@include media-breakpoint-down(sm) {
  .header {
    [data-selector='action'] {
      flex-direction: column;
      align-items: center;
    }
  }
}

@include media-breakpoint-between(sm, lg) {
  .header {
    min-height: 500px;
  }
}

@include media-breakpoint-only(xl) {
  .header {
    min-height: 600px;
  }
}
