@mixin common-svg-size($size: 1.5rem) {
  height: $size;
  aspect-ratio: 1/1;
}

.communication {
  padding-inline-start: 1.5rem;

  &__row {
    &--info {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      > svg {
        @include common-svg-size();
        flex: 0 0 1.5rem;
        fill: map-get($colors, gray);
      }

      > span {
        color: map-get($colors, text-color-400);
        &:first-of-type {
          color: map-get($colors, text-color-800);
        }
      }

      [data-selector='copy'] {
        padding: 7px;
        flex: 0 0 32px;
        svg {
          height: 1.125rem;
          width: 1.125rem;
        }
      }

      [data-selector='socials'] {
        button {
          background-color: unset;
          display: flex;
          transition: all 0.3s;

          &:hover {
            background-color: map-get($colors, primary-200);
            transition: all 0.3s;
          }

          > svg {
            @include common-svg-size();
          }
        }
      }
    }

    &--wrapper {
      row-gap: 2rem;
      [data-selector='auth-col'] {
        display: flex;
        flex-wrap: wrap;
        row-gap: 0.5rem;

        > div {
          color: map-get($colors, text-color-800);
          font-size: map-get($font-sizes, 3);

          &:first-of-type {
            color: map-get($colors, text-color-600);
          }

          &:last-of-type {
            display: flex;
            column-gap: 0.5rem;

            [data-selector='copy'] {
              flex: 0 0 32px;
              margin-block-start: -0.25rem;
              padding: 7px;
              height: fit-content;

              svg {
                width: 18px;
                height: 18px;
              }
            }
          }
        }
      }
    }

    &:first-of-type {
      margin-block-start: 2rem;
    }

    [data-selector='address'] {
      align-items: flex-start;

      > button {
        margin-block-start: -0.25rem;
      }
    }

    [data-selector='postal-tel'] {
      padding-block: 1rem;
    }
    [data-selector='title'] {
      font-size: 1.125rem;
      font-weight: map-get($font-weights, 700);
    }
  }

  &__socials {
    justify-content: space-between;
    row-gap: 0.5rem;

    [data-selector='site'] {
      button {
        padding: 0;
        background-color: unset;
        border-radius: 0;
        color: map-get($colors, primary);
        border-block-end: 1px solid;
        transition: all 0.3s;

        &:hover {
          transition: all 0.3s;
          color: map-get($colors, primary-400);
        }
      }
    }
  }

  &__location {
    &--title {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-block-end: 0.5rem;

      span {
        color: map-get($colors, text-color-400);
      }
      svg {
        @include common-svg-size();
        fill: map-get($colors, gray);
      }
    }

    &--map {
      height: 340px;
      border-radius: 1rem;
      z-index: 100;
    }
  }

  &__media {
    &--notFound {
      margin-block-end: 1.5rem;
    }
  }

  &--divider {
    border-block-start: 1px solid map-get($colors, gray-100);
    margin-block: 2rem;
  }

  &--card {
    margin-block-end: 1.5rem;
  }

  &--skeleton {
    margin-block-end: 1.5rem;
  }
}

@include media-breakpoint-up(sm) {
  .communication {
    &__row {
      [data-selector='postal-tel'] {
        > div {
          flex: 0 0 auto;
          max-width: unset;
        }
      }
    }

    &__socials {
      > div {
        flex: 0 0 auto;
        max-width: unset;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .communication {
    padding-inline-start: 0;

    &__row {
      &--info {
        span {
          font-size: 0.875rem;
        }
        [data-selector='socials'] {
          button {
            padding: 0.25rem;
          }
        }
      }

      &:first-of-type {
        margin-block-start: 1rem;
      }

      [data-selector='postal-tel'] {
        row-gap: 0.5rem;
      }
      [data-selector='title'] {
        font-size: 0.875rem;
      }
    }

    &__location {
      &--title {
        span {
          font-size: 0.875rem;
        }
      }
      &--map {
        height: 250px;
      }
    }

    &--divider {
      margin-block: 1rem;
    }
  }
}

@include media-breakpoint-down(sm) {
  .communication {
    &__row {
      &--info:not(.communication__socials > .communication__row--info) {
        span {
          &:first-of-type {
            min-width: 60px;
          }
        }
      }
    }
  }
}

@include media-breakpoint-only(md) {
  .communication {
    padding-inline-start: 1rem;

    &__location {
      &--map {
        height: 280px;
      }
    }
  }
}
