@mixin common-styles {
  .policy {
    margin-top: unset;

    &__container {
      margin: 1rem;
      max-height: 350px;
    }
    &__footer {
      position: fixed;
      bottom: 2.5rem;
      display: flex;
      flex-direction: column;
      padding: 0 1rem;
      margin: 2rem 0 0;
      &--agreement {
        margin-inline-end: unset;
        p {
          line-height: 24px;
          font-size: 0.8rem;
        }
      }
      &--accept {
        margin-top: 1rem;
        width: 90%;
        justify-content: center;
      }
    }
  }
}

.policy {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;

  &__container {
    max-height: 220px;
    overflow-y: auto;
    margin: 1rem 2rem;
    direction: ltr;
    text-align: end;
    padding-inline-end: 1.5rem;

    > * {
      direction: rtl;
    }

    &::-webkit-scrollbar {
      width: 5px;
      background-color: #e4e4e4;
    }

    &::-webkit-scrollbar-thumb {
      background: map-get($colors, text-4);
      border-radius: 10px;
    }
  }

  &--title {
    font-weight: 600;
    margin: 2rem 0;
    direction: rtl;
    text-align: start;

    &:first-child {
      margin: 0 0 2rem 0;
    }
  }

  &--description {
    font-size: map-get($font-sizes, 3);
    line-height: 28px;
    text-align: start;
    color: #21262c;
  }

  &__footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    margin: 2rem 0 1.5rem 0;

    &--agreement {
      all: unset;
      display: flex;
      cursor: pointer;
      margin-inline-end: 1rem;

      p {
        font-weight: 400;
        font-size: map-get($font-sizes, 3);
        line-height: 24px;
        color: #151617;
        margin-inline-start: 0.5rem;
      }
      input {
        cursor: pointer;
      }
    }

    &--accept {
      padding: 0.5rem 2rem;
      display: flex;
      align-items: center;
      transition: background-color 0.3s;

      p {
        margin-inline-end: 0.5rem;
      }

      svg {
        font-size: 1.1rem;
      }
    }
  }
}

@include media-breakpoint-only(lg) {
  .policy {
    &__footer {
      padding: 0 2rem;
      &--agreement {
        margin-inline-end: 1rem;
      }
      &--accept {
        padding: 0.5rem 1rem;
        p {
          font-size: map-get($font-sizes, 3);
        }
      }
    }
  }
}

@include media-breakpoint-only(md) {
  @include common-styles();
}

@include media-breakpoint-only(sm) {
  @include common-styles();
}
