.list {
  width: 535px;
  background-color: map-get($colors, simple-white);
  box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  padding: 2rem;
  position: relative;

  &--title {
    font-weight: map-get($font-weights, 700);
    font-size: 1.25rem;
    color: map-get($colors, text-color-900);
    margin-block-end: 2rem;
  }

  &--close {
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 1rem;
    left: 1rem;
    background-color: unset;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      fill: map-get($colors, text-color-900);
    }
  }

  &--input {
    margin-block-end: 1.5rem;

    label {
      margin-block-end: 0.5rem;
    }

    textarea {
      height: 120px;
    }
  }

  &--btn {
    margin-block-start: 2rem;
    padding: 12px 40px;
    display: flex;
    justify-content: center;
    margin-inline-start: auto;
  }
}

@include media-breakpoint-down(sm) {
  .list {
    width: 100vw;
    min-width: unset;
    height: 100vh;
    border-radius: 0;
  }
}
