.statistics {
  padding: 4rem 3rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    linear-gradient(279.9deg, #053272 0.04%, #175fc5 100.04%);
  box-shadow: 0px 80px 150px #dcd0e9,
    inset 0px 20px 60px rgba(255, 255, 255, 0.1);
  border-radius: 48px;
  margin-block: 4rem;

  &--title {
    font-weight: map-get($font-weights, 800);
    font-size: map-get($font-sizes, 7);
    color: map-get($colors, white);
    text-align: center;
    margin-block-end: 3rem;
  }

  &__statics {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--title {
      font-weight: map-get($font-weights, 900);
      font-size: 4rem;
      color: transparent;
      -webkit-text-stroke: 2px map-get($colors, white);
    }

    &--content {
      span {
        color: map-get($colors, white);
        margin: 0 0.5rem;
      }
      svg:first-of-type {
        rotate: 180deg;
      }
    }
  }
}

@include media-breakpoint-down(xl) {
  .statistics {
    padding: 2rem 1rem;

    &__statics {
      &--title {
        font-size: 2.5rem;
      }
      &--content {
        span {
          font-weight: map-get($font-weights, 400);
          font-size: map-get($font-sizes, 1);
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .statistics {
    &__wrapper {
      margin-inline: 1rem;
    }
  }
}

@include media-breakpoint-only(xxl) {
  .statistics {
    padding: 3rem 2.5rem;

    &__statics {
      &--title {
        font-size: 3rem;
      }

      &--content {
        span {
          font-size: map-get($font-sizes, 3);
        }
      }

      svg {
        width: 20px;
      }
    }
  }
}

@include media-breakpoint-only(lg) {
  .statistics {
    &__wrapper {
      margin-inline: 1.5rem;
    }
    &__statics {
      svg {
        width: 20px;
      }
    }
  }
}

@include media-breakpoint-only(sm) {
  .statistics {
    &--title {
      font-size: map-get($font-sizes, 5);
      margin-block-end: 1rem;
    }
    &__statics {
      &--content {
        span {
          font-size: map-get($font-sizes, 3);
        }
      }
    }
  }
}
