.portfolio {
  &--card {
    margin-block-start: 1.5rem;
  }

  &--notFound {
    margin-block-start: 1.5rem;
  }

  &--skeleton {
    margin-block-start: 1.5rem;
  }

  &__title {
    margin-block-end: 2rem;

    > span {
      margin-inline-end: 0.5rem;
      color: map-get($colors, coral);
    }

    > p {
      font-weight: map-get($font-weights, 400);
      font-size: map-get($font-sizes, 3);
      color: map-get($colors, text-color-800);
    }
  }
  &__table {
    border: unset !important;
  }
  [data-selector='title'] {
    font-weight: map-get($font-weights, 400);
    color: map-get($colors, text-color-800);
    font-size: map-get($font-sizes, 3);
  }
  [data-selector='btn'] {
    font-weight: map-get($font-weights, 600);
    font-size: map-get($font-sizes, 3);
    background-color: unset;
    color: map-get($colors, primary-900);
    border-radius: unset;
    border-bottom: 2px solid transparent;
    padding: 0.2rem 0;
    &:hover {
      border-bottom: 2px solid map-get($colors, primary-900);
    }
  }
  [data-field='market'] {
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
  }
  [data-selector='capital-header'] {
    font-weight: map-get($font-weights, 700);
    font-size: map-get($font-sizes, 3);
    margin-block-start: 0.3rem;
  }
  [data-selector='capital-subheader'] {
    font-weight: map-get($font-weights, 400);
    font-size: map-get($font-sizes, 2);
    margin-inline-start: 0.3rem;
  }
}

@include media-breakpoint-down(sm) {
  .portfolio {
    &__table {
      margin-inline-end: -1.5rem;
    }
  }
}
