.reqConsultant {
  padding: 3rem 0;

  [data-selector='title'] {
    font-weight: map-get($font-weights, 800);
    font-size: map-get($font-sizes, 7);
    color: #053272;
  }

  [data-selector='action'] {
    width: max-content;
    padding: 0.75rem 1rem;
    border-radius: map-get($font-sizes, 2);
  }

  &--box {
    padding: 4.6rem 0;
    margin: 2rem 0;
    border-radius: 2.1rem;
    background-image: 
    // url('/svg/noise.svg'),
      linear-gradient(
      20deg,
      rgba(139, 40, 26, 1) 12%,
      rgba(101, 41, 90, 1) 29%,
      rgba(81, 37, 119, 1) 38%,
      rgba(0, 116, 255, 1) 87%
    );

    [data-selector='title'] {
      color: map-get($colors, white);
    }

    [data-selector='description'] {
      max-width: 538px;
      text-align: center;
      font-weight: map-get($font-sizes, 400);
      color: map-get($colors, white);
    }

    [data-selector='action'] {
      width: 288px;
      font-weight: 600;
    }
  }
}

@include media-breakpoint-down(lg) {
  .reqConsultant {
    padding: 0 2rem;

    &--box {
      padding: 4.6rem 0;
    }
  }
}

@include media-breakpoint-only(sm) {
  .reqConsultant {
    padding: 0;
    margin: 0 1rem;

    [data-selector='title'] {
      font-size: 1.5rem;
    }

    [data-selector='icon'] {
      scale: 0.7;
    }

    &--box {
      padding: 4.6rem 0;
      margin: 0 -1rem 3rem -1rem;
      border-radius: unset;

      [data-selector='title'] {
        font-size: 1.5rem;
      }

      [data-selector='description'] {
        padding: 0 1.5rem;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .reqConsultant {
    &--box {
      margin: 2rem -1rem;
      border-radius: 0;
    }
  }
}
