@mixin common-styles {
  .companyAuthFinish {
    &__editCompany {
      & > p {
        padding: 0 1rem;
        font-size: map-get($font-sizes, 3);
      }

      &__footer {
        position: fixed;
        bottom: 2rem;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &--conection {
          margin-bottom: unset;
        }
      }
    }
    &--content {
      padding: 0 0.5rem;
    }
  }
}

.companyAuthFinish {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--title {
    font-size: map-get($font-sizes, 4);
    color: map-get($colors, text-1);
    margin: 2rem 0;
    padding-inline: 1.5rem;

    span {
      font-weight: map-get($font-weights, 800);
    }
  }

  &--content {
    text-align: center;
    width: 24.75rem;
    height: 3.5rem;
    font-weight: map-get($font-weights, 400);
    font-size: map-get($font-sizes, 3);
    color: map-get($colors, text-2);
  }

  &__editCompany {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__footer {
      & > p {
        font-weight: map-get($font-weights, 400);
        font-size: map-get($font-sizes, 4);
        color: map-get($colors, black);
      }
      &--connection {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;

        p {
          font-weight: map-get($font-weights, 400);
          font-size: map-get($font-sizes, 3);
          color: map-get($colors, text-2);
        }

        button {
          all: unset;
          font-weight: map-get($font-weights, 400);
          font-size: map-get($font-sizes, 3);
          margin-inline-start: 0.5rem;
          cursor: pointer;
        }
      }

      & > button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 14px 16px;
        width: 17.75rem;
        height: 3rem;
        background-color: map-get($colors, blue-button);
        border-radius: 0.5rem;
        margin: 0.75rem 0;

        svg {
          margin-inline-end: 0.5rem;
          font-size: 1.2rem;
        }

        p {
          font-size: map-get($font-sizes, 4);
          font-weight: map-get($font-weights, 700);
          color: map-get($colors, white);
        }
      }
    }
  }

  &--gif {
    margin: 1rem 0;
    height: 5rem;
    width: 7rem;
    position: relative;
    & > * {
      width: inherit !important;
      height: inherit !important;
    }
  }
}

@include media-breakpoint-only(md) {
  @include common-styles();
}

@include media-breakpoint-only(sm) {
  @include common-styles();
}
