.play {
  &__lesson {
    all: unset;
    display: flex;
    flex-direction: column;
    padding-block: 1rem;
    border-radius: 8px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }

    &--title {
      font-weight: bold;
    }
  }

  &__videoWrapper {
    width: 90%;
    align-self: center;
    margin-block: 3rem;

    > div {
      width: 100% !important;
    }
  }

  &__row {
    padding: 1.5rem;
    margin: 0 1rem 4rem 1rem;
    border: 1px solid rgba(211, 211, 211, 0.61);
    box-shadow: 2px 5px 8px -6px rgba(0, 0, 0, 1);
    border-radius: 0.5rem;
  }

  &--header {
    font-weight: bold;
  }

  &--titleSection {
    all: unset;
    padding-inline-start: 1rem;
  }

  &--duration {
    padding-inline-start: 1rem;
    font-size: map-get($font-sizes, 2);
  }

  &--drawerBtn {
    display: none !important;
  }
}

@include media-breakpoint-down(lg) {
  .play {
    &--drawerBtn {
      display: block !important;
    }
  }
}
