.tryFree {
  padding: 3rem 0;

  [data-selector='title'] {
    font-weight: map-get($font-weights, 800);
    font-size: 2.5rem;
    color: map-get($colors, text-color-800);
  }
  [data-selector='description'] {
    font-weight: map-get($font-weights, 600);
    font-size: map-get($font-sizes, 5);
    color: map-get($colors, text-color-800);
  }
  [data-selector='free-btn'] {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.7rem;
    font-size: map-get($font-sizes, 3);
    font-weight: 700;
    border-radius: 12px;
    margin-inline-end: 2rem;
  }
  [data-selector='phone'] {
    margin-inline-start: 0.5rem;

    path {
      fill: map-get($colors, jade);
    }
  }
}

@include media-breakpoint-down(lg) {
  .tryFree {
    padding: 0 2rem 4rem;
  }
}

@include media-breakpoint-only(sm) {
  .tryFree {
    [data-selector='title'] {
      font-size: 1.5rem;
    }

    [data-selector='icon'] {
      scale: 0.7;
    }
  }
}
