@mixin common-btn-styles() {
  button {
    padding: 0.7rem;
    border-radius: 12px;
    font-weight: map-get($font-weights, 700);
  }
}

.plan {
  width: auto;
  position: relative;
  z-index: 100;

  &__box {
    margin: 2rem 0rem;
    padding: 1rem 0 0;
    position: relative;

    &--cover {
      position: absolute;
      background: linear-gradient(277.31deg, #0065f2 0%, #7298ff 100%);
      box-shadow: 0px 8px 16px rgba(0, 101, 242, 0.3);
      border-radius: 16px;
      inset-block-start: -1rem;
      inset-inline-start: 6px;
      inset-block-end: -4px;
      inset-inline-end: 6px;
      z-index: -100;

      p {
        text-align: center;
        color: map-get($colors, white);
      }
    }

    &--campaign {
      background: linear-gradient(315deg, #e13019 14.64%, #ec8078 85.36%);
      box-shadow: 0px 8px 16px rgba(232, 66, 44, 0.3);
    }

    &--main {
      background-color: rgba(255, 255, 255, 0.5);
      padding: 0.75rem;
      border-radius: 16px;
      max-height: 880px;
      height: 100%;

      [data-selector='header'] {
        svg {
          aspect-ratio: 1/1;
          width: 38px;
          height: 38px;
          path {
            color: map-get($colors, primary);
            fill: map-get($colors, primary);
          }
        }

        h2 {
          font-size: map-get($font-sizes, 6);
          font-weight: 800;
        }

        p {
          color: #40454b;
          font-weight: 400;
          min-height: 128px;
          margin: 0.5rem 0;
        }
      }
    }

    &--customers {
      margin: 0.5rem 0;

      h2 {
        text-align: center;
        font-size: map-get($font-sizes, 3);
        font-weight: 700;
        margin: 0.5rem 0;
      }

      [data-selector='planBox-customer'] {
        background-color: #f4f4f4;
        padding: 4px 8px;
        border-radius: 0.5rem;

        img {
          position: relative;
          top: 50%;
          left: 50%;
          translate: -50% -50%;
        }
      }
    }

    &--attributes {
      min-height: 128px;
      margin: 1rem 0;

      p {
        font-size: map-get($font-sizes, 3);
      }

      svg {
        color: #00ab66;
      }
    }

    &--slider {
      min-height: 75px;
      margin-block: 0.5rem;

      &--campaign {
        :global {
          .MuiSlider-thumb {
            background-image: url(/svg/swap-icon.svg),
              linear-gradient(277.31deg, #e13019 0%, #ec8078 100%) !important;
          }
          .MuiSlider-track {
            background: linear-gradient(
              277.31deg,
              #e13019 0%,
              #ec8078 100%
            ) !important;
          }
        }
      }

      > div {
        max-width: 90%;
      }
      p {
        font-weight: 600;
        font-size: map-get($font-sizes, 5);
        line-height: 32px;
        color: #808080;
      }
    }

    &--buttons {
      min-height: 105px;
      @include common-btn-styles();
      [data-selector='free-btn'] {
        font-size: map-get($font-sizes, 3);
        font-weight: 700;
      }

      [data-selector='pre-btn'] {
        background-color: map-get($colors, simple-white) !important;
      }

      [data-selector='disabled-btn'] {
        background-color: transparent !important;
        font-weight: 600;
      }
    }

    &--body {
      min-height: 132px;

      [data-selector='discount'] {
        text-decoration: line-through;
      }

      h2 {
        font-size: map-get($font-sizes, 7);
        font-weight: 600;
        margin-top: 1rem;
      }
      span {
        font-weight: 600;
        font-size: map-get($font-sizes, 5);
        line-height: 32px;
        color: #707173;
      }

      [data-selector='until-date'] {
        font-size: 1rem;
        font-weight: 700;
        min-height: 2rem;
      }
    }
  }

  &__title {
    text-align: center;
    margin: 0.5rem 0 1rem;
    font-size: map-get($font-sizes, 7);
    color: map-get($colors, primary);
    font-weight: map-get($font-weights, 800);
    letter-spacing: -0.045em;
    margin-block-end: 2rem;

    &--campaign {
      text-align: center;
    }

    span {
      font-weight: map-get($font-weights, 800);
      font-size: 40px;
      color: map-get($colors, secondary);
    }
  }

  [data-selector='current-plan'] {
    .plan__box--main {
      background-color: map-get($colors, white);
    }
  }

  [data-selector='campaign'] {
    margin-bottom: 2rem;

    span {
      font-weight: map-get($font-weights, 800);
      font-size: 40px;
      color: map-get($colors, secondary);
    }
  }
}

/* ------------------------------------ MOBILE RESPONSIVE --------------------------------------- */

@include media-breakpoint-only(xxl) {
  .plan {
    &__box {
      &--customers {
        [data-selector='planBox-customer'] {
          img {
            aspect-ratio: 1/1;
            width: 64px;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .plan {
    &__title {
      span {
        font-size: map-get($font-sizes, 7);
      }
    }
  }
}

@include media-breakpoint-only(md) {
  .plan {
    &__box {
      margin: 1rem 0;
      &--main {
        [data-selector='header'] p {
          min-height: 64px;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .plan {
    &__box {
      margin: 1rem 0;

      &--main {
        [data-selector='header'] p {
          min-height: fit-content;
        }
      }
    }

    &__title {
      span {
        font-size: 1.8rem;
      }
    }
  }
}

@include media-breakpoint-between(md, xl) {
  .plan {
    &__box {
      &--main {
        [data-selector='header'] p {
          min-height: 96px;
        }
      }

      &--customers {
        > div {
          justify-content: space-around;
        }

        [data-selector='planBox-customer'] {
          padding: 4px 12px;
        }
      }
    }
  }
}

@include media-breakpoint-down(xl) {
  .planBox {
    &__plan {
      &--cover {
        inset-inline-start: 10px;
        inset-inline-end: 10px;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .planBox {
    [data-selector='planBox-campaign'] {
      span {
        font-size: 30px;
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .planBox {
    &__plan {
      &--main {
        &--header {
          p {
            min-height: 128px;
          }
        }
      }
    }
  }
}
